// COMMON STYLES
html, body {
	height:100%;
	min-height:100%;
}

a {
	text-decoration: none; 
}

/* Up-down button */
#updown, 
#updown-container{
	position: fixed;
	top: 0px;
	height:100%;
	z-index:100;
}
#updown-container {
	width:30px;
	opacity:0;
	color:white;
	text-align:center;
}
#updown.up, 
#updown.down {
	cursor:pointer;
}
#updown.up #updown-container::before  {
	content:'\2191';
	font-size:24px;
}
#updown.up #updown-container, #updown.down #updown-container  {
	background:rgba(0,0,0,0.5);
}
#updown.down #updown-container::before {
	content:'\2193';
	font-size:24px;
}
#updown:hover #updown-container{
	opacity:1;
}
@media (max-width: 1440px) {
	#updown {
		width:24px;
	};
}
@media (max-width: 1262px) {
	#updown,
	#updown-container {
		display:none;
	}
}

a.anchor{
	position: absolute;
	margin-top:-160px;
}