// PAGE LAYOUT
// Top-line
// ==================

// Header
// ==================

// Footer
// ==================

.wrap {
	@include container(); 
	max-width:$lg;
	padding-left:1em;
	padding-right:1em;
}
.wrap_md {
	@include container(); 
	max-width:$md;
	padding-left:1em;
	padding-right:1em;
}
.wrap_sm {
	@include container(); 
	max-width:$sm;
	padding-left:1em;
	padding-right:1em;
}

.dept__item {
	@include span(4); 
	@media (max-width: 749px) {
		@include span(12 last); 
		@include rhythm(0, 0, 0, 2);
	}
}

.bAbout__item {
	@include span(4); 
	@media (max-width: 680px) {
		@include span(12 last); 
		@include rhythm(0, 0, 0, 2);
	}
}

.knowMoreItem{
	@include span(6); 
	@include rhythm(4, 0, 0, 2);
	@media (max-width: 800px) {
		@include span(12 last);
		@include rhythm(2, 0, 0, 0);
	}
}

.contactForm__text{
	@include span(4);
	@media (max-width: 960px) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
.contactForm__form{
	@include span(8 last);
	@include rhythm(2, 0, 0, 0);
	@media (max-width: 960px) {
		@include span(6 last);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}

.aboutTopCol{
	@include span(4);
	@media (max-width: 460px) {
		@include span(12); 
	}
}

.aboutDepts__itemWrap{
	@include span(4);
	@media (max-width: 960px) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
.aboutDepts__itemWrap_dept0{
	@media (max-width: 960px) {
		@include span(12);
	}
}

.aboutFactsCol{
	@include span(4);
	@media (max-width: $md) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}

.aboutPartners__logo {
	@include span(5);
	@media (max-width: 800px) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
.aboutPartners__info{
	@include span(7 last);
	@media (max-width: 800px) {
		@include span(6 last);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}

.aboutTeam__itemWrap{
	@include span(3);
	@media (max-width: 900px) {
		@include span(4); 
	}
	@media (max-width: 680px) {
		@include span(6); 
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}

.deptIncludeItem__wrap{
	@include span(3);
	@media (max-width: 940px) {
		@include span(6);
	}
	@media (max-width: 540px) {
		@include span(12); 
	}
}

.deptStepsItem{
	@include span(4);
	@media (max-width: 680px) {
		@include span(12); 
	}
}

.dept1ReqItem__wrap{
	@include span(3);
	@media (max-width: 860px) {
		@include span(6);
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}
.dept2ReqItem__wrap{
	@include span(1 of 5);
	@media (max-width: 960px) {
		@include span(4);
	}
	@media (max-width: 700px) {
		@include span(6);
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}

.deptExp__aboutTeam__itemWrap{
	@include span(3);
	@media (max-width: 860px) {
		@include span(12);
	}
}
.deptExp__messageWrap{
	@include span(9);
	@media (max-width: 860px) {
		@include span(12); 
	}
}

.deptTimerItem{
	@include span(2);
	@media (max-width: 540px) {
		@include span(3); 
	}
}
.deptTimerItem_last{
	@media (max-width: 540px) {
		@include span(12); 
	}
}

.dept1InfoItemWrap{
	@include span(4);
	@media (max-width: 820px) {
		@include span(12);
	}
}

.dept1PriceItem__wrap{
	@include span(3);
	@media (max-width: 1100px) {
		@include span(6);
	}
	@media (max-width: 540px) {
		@include span(12); 
	}
}





.bEventInfoLeft{
	@include span(3);
	@media (max-width: 600px) {
		@include span(12);
	}
}
.bEventInfoCenter{
	@include span(5);
	@media (max-width: 960px) {
		@include span(6);
	}
	@media (max-width: 600px) {
		@include span(12);
	}
}

.bEventInfoRight{
	@include span(4);
	@media (max-width: 960px) {
		@include span(3);
	}
	@media (max-width: 600px) {
		@include span(12);
	}
}

.bEventSpeaker__itemWrap{
	@include span(3);
	@media (max-width: 540px) {
		@include span(12);
	}
}
.bEventSpeaker__messageWrap{
	@include span(9);
	@media (max-width: 540px) {
		@include span(12);
	}
}


.bEventFacts__itemWrap{
	@include span(4);
	@media (max-width: 680px) {
		@include span(12);
	}
}

.bEventInfoList__left{
	@include span(7);
	@media (max-width: 1020px) {
		@include span(6);
	}
	@media (max-width: 760px) {
		@include span(12);
	}
}
.bEventInfoList__right{
	@include span(5);
	@media (max-width: 1020px) {
		@include span(6);
	}
	@media (max-width: 760px) {
		@include span(12);
	}
}

.bEventMore__itemWrap{
	@include span(6);
	@media (max-width: 720px) {
		@include span(12);
	}
}

.bEventPartner__itemWrap{
	@include span(3);
	@media (max-width: 760px) {
		@include span(6);
	}
}

.bEventContacts__itemWrap{
	@include span(6);
	@media (max-width: 760px) {
		@include span(12);
	}
}
/*

.content {
	//@include rhythm(2, 2, 2, 2);
}

.sidebar {
	@include span(4 last); 
	@include leading-border(1px, .5);
	@include trailing-border(1px, .5);
}
*/