// MAIN STYLES
body {
	background:$footer;
}
.content{
	background:white;
}

// Links
// ==================
a {
	color:$red;
}
a:hover{
	color:$lightred;
}
a.notDecided{
	@include adjust-font-size-to(14px);
	@include trailing-border(1px, 0.5);
	border-style:dashed;
}
a.notDecided:hover{
	border-style:solid;
}
a.notDecided.clr-white{
	color:white;
	border-color:white;
}

// Buttons
// ==================


// Header
// ==================
header {
	position:absolute;
	background:rgba(0,0,0,0.75);
	width:100%;
}
.header__logo {
	@include rhythm(2, 0, 0, 2);
	float:left;
}
.header__logo img {
	width:auto;
	height:54px;
	@media (max-width: 749px) {
		height:36px;
	}
}
.header__navMain{
	float:right;
	@include rhythm(5, 0, 0, 0);
	
	@media (max-width: 749px) {
		position: fixed;
		z-index:101;
		height:100%;
		background: black;
		@include rhythm(0, 1.5, 0, 0);
		top:0;
		right:-200px;
	}
	
}

// Navigation
.navMain {
	list-style-type:none;
}
.navMain li {
	display:inline;
	padding-left:1em;
	padding-right:1em;
	@include trailing-border(2px, 0.5);
	@include rhythm(0, 0, 5, 0);
	border-color:transparent;
	@media (max-width: 749px) {
		display:list-item;
		padding-left:1.5em;
		padding-right:3em;
		border-right-width: 6px;
		border-right-style:solid;
		border-right-color:transparent;
		border-bottom-style:none;
		@include rhythm(0, 1.5, 1.5, 0);
	}
}
.navMainItem_dept1:hover, .navMainItem_dept1.navMainItem_current{
	border-color:$dept1 !important;
}
.navMainItem_dept2:hover, .navMainItem_dept2.navMainItem_current{
	border-color:$dept2 !important;
}
.navMain li:hover {
	border-color:$red;
}
.navMainItem_current{
	border-color:$red !important;
}

#navTrigger {
	float:right;
	color:white;
	@include rhythm(0, 3, 0, 0);
	cursor:pointer;
	@media (min-width: 750px) {
		display:none;
	}
}
.navMain_open {
	right:0px;
}
#navMain__back{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    opacity:0;
    z-index: 100;
}
.navMain__back_open{
	display:block !important;
}
.navMain li:hover a{
	color:rgba(255,255,255,1);
}
.navMain li a{
	color:rgba(255,255,255,.85);
	@include adjust-font-size-to(20px);
	font-weight:300;
}
// Contacts
.header__contacts {
	display:none;
	float:right;
	background:$red;
	@include rhythm(0, 3, 2, 0);
	padding-left:1.5em;
	padding-right:1em;
	margin-left:2em;
	@media (min-width: 1020px) {
		display:block;
	}
}
.contacts__image {
	float:right;
	margin-left:1em;
}
.contacts__image img {
	width:auto;
	@include rhythm(0, 0, 0, 0);
	height:3em;
}
.contacts__info{
	float:left;
}
.contacts__info p{
	text-align:right;
}
.contacts__info p a{
	color:white;
}
.contacts__info p a:hover{
	color:rgba(0,0,0,0.75)
}
.contacts__phone {
	@include adjust-font-size-to(20px);
}

// Firstscreen
// ==================
.firstScreen{
	background-size:cover; 
	display:flex;
	display:-webkit-flex;
	align-items:center;
	height:47em;
	width:100%;
}

.firstScreen__text{
	width:100%;
	text-align:center;
}
.firstScreen__image{
	width:auto;
	max-height:12em;
	position:absolute;
	transform: scale(0.91, 0.73);
    transform-origin: left bottom;
    -webkit-animation: grow 0.5s ease-in forwards;
    animation: grow 0.5s ease-in forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    @media (max-width: 539px) {
    	max-height:6em;
    }
}
.firstScreen__image2{
	width:auto;
	max-height:12em;
	@include rhythm(0, 0, 0, 2);
	@media (max-width: 539px) {
    	max-height:6em;
    }
}

@-webkit-keyframes grow {
    100% { transform: scale(1, 1);}
}

@keyframes grow {
    100% { transform: scale(1, 1);}

}

.mainHeading {
	@include adjust-font-size-to(48px);
	@include rhythm(0, 0, 0, 0.5);
	@media (max-width: 539px) {
		@include adjust-font-size-to(36px);
	}
	@media (max-width: 400px) {
		@include adjust-font-size-to(30px);
	}
}
.mainHeadingCaption{
	@include adjust-font-size-to(20px);
}
.mainHeadingCaption a{
	color:white;
}
.mainHeading, .mainHeadingCaption{
	color:white;
	text-shadow:1px 1px 2px black;
}
.mainHeadingCaption-noShadow{
	text-shadow:none;
}



// Footer
// ==================
.footer__decorator{
	background:url("../img/footerDecorator.png");
	background-size:contain;
	width:100%;
	height:36px;
	margin-top: -30px;
}
.footer__decorator.footer_contacts{
	margin-top: -26px;
}
footer{
	@include rhythm(0, 4, 5, 0);
	background:$footer;
	color:white;
	text-align:center;
}
.footer_contacts{
	opacity:0.9999999;
}
footer a{
	color:white;
}
.footer__socLinkImage{
	height:3em;
	width:3em;
}
.footer__socLinks li{
	display:inline;
	margin:0 0.5em;
}
.footer__upperNav{
	@include rhythm(1, 0, 0, 3);
}
.footer__upperNav li{
	display:inline;
	margin:0 0.5em;
	@include adjust-font-size-to(20px);
	font-weight:600;	
}
.upperNav_dept1:hover{
	color:$dept1;
}
.upperNav_dept2:hover{
	color:$dept2;
}
.upperNav_dept3:hover{
	color:$dept3;
}
.footer__lowerNav li{
	display:inline;
	margin:0 0.5em;
	@include adjust-font-size-to(20px);
	font-weight:300;
	text-transform:uppercase;
	@media (max-width: 680px) {
		display:block;
		@include rhythm(0, 0, 0, 1);
	}

}
.lowerNav__separator{
	@media (max-width: 680px) {
		display:none !important;
	}
}

.footer__lowerNav{
	@include rhythm(0, 0, 0, 2);
}

.footer__contacts li{
	display:inline-block;
	margin:0 0.5em;
}
.footer__contacts-left{
	text-align:right;
}
.footer__contacts-right{
	text-align:left;
}