// MAIN TYPOGRAPHY
@import "compass/typography/vertical_rhythm";
$base-font-size: 16px;
$base-line-height: 6px;


// Base styles
// =================
@include establish-baseline;

html {
	@include adjust-leading-to(4);
}
body{
	font-family:source-sans-pro,Arial,sans-serif;
	color:#333;
}

// Hadlines
// ==================
.h1,
.h2,
.h3,
.h4, 
h1,
h2,
h3,
h4 {
	color:#111;
}
.h1, 
h1 {
	@include adjust-font-size-to(42px);
	font-weight:900;
}
.h2, 
h2 {
	@include adjust-font-size-to(30px);
}
.h3, 
h3 {
	@include adjust-font-size-to(24px);
}
.h4, 
h4 {
	@include adjust-font-size-to(18px);
}

.mainHeading, .pageHeading, .mainHeadingCaption, .pageHeadingCaption {
	text-align:center;
}
.mainHeading, .pageHeading{
	@include rhythm(0, 2, 0, 0);
}
.mainHeadingCaption, .pageHeadingCaption {
	@include adjust-font-size-to(18px);
	max-width:800px;
	margin: 0 auto;
}

strong{
	font-weight:600;
}

// Decoration styles
// ==================


// Other styles
// ==================