// ----------------------- //
// Navigation style ------ //
// ----------------------- //


.navMain {
	list-style-type: none;
}
.navMain li {
	display:inline;
	padding-left:1em;
	padding-right:1em;
	@include trailing-border(2px, 0.5);
	@include rhythm(0, 0, 4.5, 0);
	border-color:transparent;
	@media (max-width: 799px) {
		display:list-item;
		padding-left:1em;
		padding-right:3em;
		border-right-width: 6px;
		border-right-style:solid;
		border-right-color:transparent;
		border-bottom-style:none;
		@include rhythm(0, 1.5, 1.5, 0);
	}
}
.navMainItem_dept1:hover, .navMainItem_dept1.navMainItem_current{
	border-color:transparent !important;
}

.navMainItem_dept1{
	@media (max-width: 799px) {
		padding-right:0 !important;
	}
}
.navMainItem_dept2:hover, .navMainItem_dept2.navMainItem_current{
	border-color:$dept2 !important;
}
.navMain li:hover {
	border-color:$red;
}
@media (max-width: 800px){
    .navMain li:hover {
       border-color: transparent;
       border-bottom: 1px solid $color_white;
    }
}
.navMainItem_current{
	border-color:$red !important;
}

#navTrigger {
	float:right;
	color:white;
	@include rhythm(0, 3, 0, 0);
	cursor:pointer;
	@media (min-width: 800px) {
		display:none;
	}
}
@include for-size(device-small-max) {
    #navTrigger {
        @include rhythm(0, 3, 0, 0);
    }         
}

.navMain_open {
	right: 0px !important;
}
#navMain__back{
	display:none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    opacity:0;
    z-index: 100;
}
.navMain__back_open{
	display:block !important;
}
.navMain li:hover{
	color:rgba(255,255,255,1);
}
.navMain li span{
	color:rgba(255,255,255,.85);
	@include adjust-font-size-to(20px);
	font-weight:300;
}
.navMain li:hover .navMainSecondary{
	display:block;
}
.navMainSecondary{
	position:absolute;
	display:none;
	@include rhythm(5, 0, 0, 0);
	
	z-index:100;
	max-width:600px;
	margin-right:1.5em;
	background:rgba(0,0,0,0.85);
	
	border-top:2px solid $dept1;
	@media (max-width: 799px) {
		position:relative;
		display:block;
		margin:0;
		max-width:235px;
		border:none;
	}
	
}
.navMainSecondary_dept1 li {
	display:block;
	padding-left:1em;
	padding-right:1em;
	@include rhythm(0, 1.5, 1.5, 0);
	border:none;
	color:white;
	@media (max-width: 799px) {
		@include rhythm(0.25, 1.5, 1.5, 0.25);
		padding-left:0.5em;
		padding-right:0.5em;
	}
}
.navMainSecondary_dept1 li:hover{
	border:none;
	background:$dept1;
	color:black;
}
.navMainSecondary_dept1 li:hover .navMainSecondary__heading{
	color:black;
}
.navMainSecondary__heading{
	@include adjust-font-size-to(20px);
	font-weight:600;
	color:white;
	@media (max-width: 799px) {
		font-weight:400;
		@include adjust-font-size-to(16px);
	}
}
.navMainSecondary__caption{
	@include adjust-font-size-to(14px);
	@media (max-width: 799px) {
		display:none;
	}
}

/* Navigation submenu ------*/
.c-header__nav-submenu {
    background-color: $color_white;
}
.c-nav-submenu__item {
    display: inline-block;
	padding-left:1em;
	padding-right:1em;
	@include leading-border(2px, 0.5);
	@include rhythm(0, 1.5, 1.5, 0);    
    border-color: transparent;
    position: relative;
}
$colors_nav: $color_yellow, $color_green, $color_blue, $color_purple;
@for $i from 1 through length($colors_nav) {
	.c-nav-submenu__item:nth-child(#{$i}):hover {
		border-color: nth($colors_nav, $i);
        .c-nav-childmenu {
            border-color: nth($colors_nav, $i);
        }
	}
}

@include for-size(desktop-max) {
    .c-nav-submenu__item {
        width: 50%;
        float: left;
    }  
    $colors_nav: $color_yellow, $color_green, $color_blue, $color_purple;
    @for $i from 1 through length($colors_nav) {
        .c-nav-submenu__item:nth-child(#{$i}) {
            @include rhythm-borders(1px, 0);
            padding: .5em 1em; 
            border-color: $color_gray;                
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                top: 5px;
                right: 5px;
                @if $i == 1 {
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNmZmNjMDAiIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');  
                } @else if $i == 2 {
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiMyNmE2NWIiIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');                      
                } @else if $i == 3 {
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiM0MTgzZDciIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');
                } @else if $i == 4 {
                    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiM5MTNkODgiIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');
                }
                background-repeat: no-repeat;     
                background-size: contain;
                z-index: 1;
            }
            .c-nav-childmenu:hover {
                border: none;
                color: nth($colors_nav, $i);
            }
        }
    }       
    .c-nav-submenu__item:nth-child(2), .c-nav-submenu__item:nth-child(4) {
        border-left-width: 0px;
    }      
    .c-nav-submenu__item:nth-child(3), .c-nav-submenu__item:nth-child(4) {
        border-top-width: 0px;
    }  
}
@include for-size(device-small-max) {
    .c-nav-submenu__item {
        width: 100%;
        float: left;
    }       
    .c-nav-submenu__item:nth-child(2), .c-nav-submenu__item:nth-child(4) {
        border-left-width: 1px;
    }  
    .c-nav-submenu__item:nth-child(2), .c-nav-submenu__item:nth-child(3), .c-nav-submenu__item:nth-child(4) {
        border-top-width: 0px;
    }     
}
.c-nav-submenu__link {
    color: $color_black;
}
@include for-size(desktop-max) {
    .c-nav-submenu__link {
        @include adjust-font-size-to(10px);
        text-transform: lowercase;
    }    
}
.c-nav-submenu__link:hover {
}
.c-nav-submenu__item.is-child:hover .c-nav-childmenu {
    display: block;
}
.c-nav-childmenu {
    position: absolute;
    @include leading-border(2px, 0.5);
    border-color: $color_purple;
    background: white;
    top: 33px;    
    display: none;
}
@include for-size(desktop-max) {
    .c-nav-childmenu  {
        display: block;
        position: relative;
        top: auto;
        border: none;
    }     
}
.c-nav-childmenu__item, .c-nav-childmenu .c-nav-submenu__item{
	padding-left:1em;
	padding-right:1em;
	@include rhythm(0, 1.5, 1.5, 0);  
}
@include for-size(desktop-max) {
    .c-nav-childmenu__item, .c-nav-childmenu .c-nav-submenu__item  {
        @include adjust-font-size-to(14px);
        @include rhythm(0,0,0,0);
        font-weight: bold;
        padding: 0px;
        a {
            color: $color_black;
            border-bottom: 1px solid rgba($color_black, 0.8);
        }
    }     
}
.c-nav-childmenu__link {
    color: $color_black;
}
@include for-size(phone-max) { 
    .c-nav-submenu__item {
        width: 100%;
        float: left;
        border: 0px !important;
        border-bottom: 1px solid rgba($color_white,0.6) !important;
        height: auto !important;
        &::before {
            display: none;
        }
    }     
    .navMain {
        li {
           border-bottom: 1px solid rgba($color_white,0.6); 
        }
    }
    .c-header__nav-submenu {
        max-width: 290px;
        background-color: transparent;
    }
    .c-nav-submenu__item, .c-nav-submenu__link, .c-nav-childmenu__item a, .c-nav-childmenu .c-nav-submenu__item a {
        color: $color_white;
    }
    .c-nav-childmenu {
        background-color: transparent;
    }
    .c-nav-childmenu__item, .c-nav-childmenu__item .c-nav-childmenu__link, .c-nav-childmenu .c-nav-submenu__item, .c-nav-childmenu .c-nav-submenu__item .c-nav-childmenu__link {
        color: rgba($color_white,.85);
        @include adjust-font-size-to(20px);
        font-weight: 300;        
    }
    .c-nav-submenu__link {
        color: rgba($color_white,.65);
        @include adjust-font-size-to(14px);
        text-transform: none;
        line-height: 1;
    }
}
@media (min-width: $screen_sm_min) and (max-width: $screen_md_min) {
    .c-nav-submenu__item {
        max-height: 73px;
    }
}
