// ----------------------- //
// Header style ---------- //
// ----------------------- //


/* Logo main ------*/
.header__logo {
	@include rhythm(2, 0, 0, 2);
	float:left;
}
.header__logo img {
	width:auto;
	height:54px;
	@media (max-width: 799px) {
		height:36px;
	}
}
.header__navMain{
	float:right;
	@include rhythm(5, 0, 0, 0);
	
	@media (max-width: 799px) {
		position: fixed;
		z-index:101;
		height:100%;
		background: black;
		@include rhythm(0, 1.5, 0, 0);
		top:0;
		right:-300px;
	}
	
}

/* Contacts ------*/
.header__contacts {
	display:none;
	float:right;
	background:$red;
	@include rhythm(0, 3, 2, 0);
	padding-left:1.5em;
	padding-right:1em;
	margin-left:2em;
	@media (min-width: 1080px) {
		display:block;
	}
}
.contacts__info{
	float:left;
}
.contacts__info p{
	text-align:right;
}
.contacts__info p a{
	color:white;
}
.contacts__info p a:hover{
	color:rgba(0,0,0,0.75)
}
.contacts__phone {
	@include adjust-font-size-to(20px);
}
.contacts__image {
	float:right;
	margin-left:1em;
}
.contacts__image img {
	width:auto;
	@include rhythm(0, 0, 0, 0);
	height:3em;
}

/* Navigation ------*/
.header__navMain{
	float:right;
	@include rhythm(5, 0, 0, 0);
	
	@media (max-width: 799px) {
		position: fixed;
		z-index:101;
		height:100%;
		background: black;
		//@include rhythm(0, 1.5, 0, 0);
        @include rhythm(0, 0, 0, 0);
		top:0;
		right:-300px;
	}
	
}

/* Message ------*/
.c-header__message {
    float: left;
    color: $color_white;
    text-align: left;
    max-width: 300px;
	@include rhythm(.6, 3, 2, 0);
	padding-left:1.5em;
	padding-right:1em;
	margin-left:2em;    
}
@include for-size(phone-only) {
    .c-header__message {
        @include rhythm(.6, 2, 2, 0);
    }
}
@include for-size(device-small-max) {
    .c-header__message {
        @include rhythm(0, 1, 1, 0);
        padding-left: 0px;
        max-width: 200px;
        margin-left: 1em;
    }         
}
@media (min-width: 360px) and (max-width: $screen_xs_min) {
    .c-header__message {
        @include adjust-font-size-to(13px);
        line-height: 1em;
        margin-top: 0.6em;
    }    
}
@media (max-width: 360px) {
    .c-header__message {
        @include adjust-font-size-to(10px);
        max-width: 100px;
        line-height: 1em;
        margin-top: 0.6em;
    }
}  
/* Navigation ------*/
.c-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	background: rgba(0,0,0,0.75); 
}

/* Welcome ------*/
.c-welcome {
    height: 650px;
    position: relative;
    z-index: -1;
}
@include for-size(device-small-max) {
    .c-welcome {
        height: 700px;
    }         
}
.c-welcome__thumbnail {
    display: none;
}
.c-welcome__container {
    @include rhythm-borders(4px, 0);
    border-color: $color_white;
    border-style: dashed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 600px;
    max-height: 200px;
}
@include for-size(desktop-max) {
    .c-welcome__container {
        margin-bottom: 1em;
    }     
}
@include for-size(device-small-max) {
    .c-welcome__container {
        max-height: 150px;
    }      
}
.c-welcome__text {
    background-color: $color_white;
	@include rhythm(0, 3, 3, 0);
	padding-left: 1.5em;
	padding-right: 1em;    
    max-width: 500px;
    text-transform: uppercase;
    font-weight: bold;
    span {
        color: $color_red;
    }
    position: absolute;
    left: 0;
    bottom: 0;
}
@include for-size(phone-max) {
    .c-welcome__text {
        max-width: 360px;
        @include adjust-font-size-to(14px);
    }
}
@include for-size(device-small-max) {
    .c-welcome__text {
        max-width: 320px;
        @include adjust-font-size-to(12px);
    }      
}
.c-welcome__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
}
@include for-size(device-small-max) {
    .c-welcome__icon {
        max-width: 320px;
        height: 20px;
        width: 20px;
        top: -14px;
    }      
}
.c-welcome {
    @include for-size(phone-max) {
        height: 400px;
    }    
    &.is-small {
        height: 425px;
        @include for-size(phone-max) {
            height: 300px;
        }
        @include for-size(device-small-max) {
            height: 500px;
        }
        .c-welcome__container {
            border: none;
            height: 100px;
            width: auto;
            padding-top: 200px;
        }
        .c-welcome__icon {
            display: none;
        }    
        .c-welcome__text {
            max-width: none;
            background: transparent;
            left: 0px;
            right: 0px;
            margin: auto;
            span {
                @include rhythm-borders(4px, 0);
                border-color: $color_black;
                border-style: dashed;
                @include adjust-font-size-to(18px);
                color: $color_white;              
                text-transform: none;
                font-weight: normal;
                padding: 0.25em;
                width: 100%;
                display: block;
                text-align: center;
            }
            h2 {
                color: $color_white;
                text-transform: none;
                margin-top: .1em;
//                max-width: 500px;
                text-align: center;
            }
        }
    }
}
/* First Screen ------*/
.firstScreen{
	background-size:cover; 
	display:flex;
	display:-webkit-flex;
	align-items:center;
	height:47em;
	width:100%;
}

.firstScreen__text{
	width:100%;
	text-align:center;
}
@media (min-width: $screen_xs_max) and (max-width: $screen_md_max) {
    .firstScreen__text{
        margin-top: 15em;
    }
}
.firstScreen__image{
	width:auto;
	max-height:12em;
	position:absolute;
	transform: scale(0.91, 0.73);
    transform-origin: left bottom;
    -webkit-animation: grow 0.5s ease-in forwards;
    animation: grow 0.5s ease-in forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    @media (max-width: 539px) {
    	max-height:6em;
    }
}
.firstScreen__image2{
	width:auto;
	max-height:12em;
	@include rhythm(0, 0, 0, 2);
	@media (max-width: 539px) {
    	max-height:6em;
    }
}
.firstScreen_blog{
	max-height: 34.25em;
}
@include for-size(device-small-max) {
    .firstScreen_blog{
        max-height: 43.25em;
    }    
}
