// ----------------------- //
// Forms style ----------- //
// ----------------------- //

/* Style for Contact Form 7 plugin (wordpress) ------*/
.contactForm__formWrap {
    div.wpcf7-validation-errors {
        margin-top: 0px;
        display: inline-block;
        width: 100%;   
    }   
    span.wpcf7-not-valid-tip {
        display: inline-block;
        margin-left: 30%;
        color: $color_red;        
    }
    div.wpcf7-mail-sent-ok {
        display: inline-block;
        margin-top: 0px;
        width: 100%;        
    }
}
