// ----------------------- //
// Typography style ------ //
// ----------------------- //

@import "compass/typography/vertical_rhythm";
$base-font-size: 16px;
$base-line-height: 6px;
@include establish-baseline;

html {
	@include adjust-leading-to(4);
}
body{
    font-family: $font_family_base;
    color: $color_gray_dark0;
}
input, label, select, button, textarea {
    font-family: $font_family_base;  
}
h1, h2, h3, h4 {
    font-family: $font_family_base;
    color: $color_gray_dark0;
}
.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    color: $color_black_light;
}
.h1, h1 {
	@include adjust-font-size-to(42px);
	font-weight:900;
}
.h2, h2 {
	@include adjust-font-size-to(30px);
}
.h3, h3 {
	@include adjust-font-size-to(24px);
}
.h4, h4 {
	@include adjust-font-size-to(18px);
}

.mainHeading, .pageHeading, .mainHeadingCaption, .pageHeadingCaption {
	text-align:center;
}
.pageHeading {
	@include rhythm(0, 1, 0, 0);
}
.mainHeadingCaption, .pageHeadingCaption {
	@include adjust-font-size-to(18px);
	max-width: 800px;
	margin: 0 auto;
	@include rhythm(1, 0, 0, 0);
}
p {
    font-family: $font_family_base;  
}
a {
    text-decoration: none;
//    border-bottom: 1px solid;
//    border-bottom-color: rgba($color_black, 0.5);  
//    &:hover {
//        border-bottom-color: rgba($color_black, 0.5);  
//    }
//    &:active {
//        border-bottom-color: rgba($color_black, 0.5);  
//    }
//    &:visited {
//        border-bottom-color: rgba($color_black, 0.5);  
//    }
//    &:focus {
//        border-bottom-color: rgba($color_black, 0.5); 
//    }      
}
strong{
    font-family: $font_family_base;
	font-weight: 600;
}

.c-content__title {
    text-align:center;
    @include rhythm(0, 1, 1, 0);
}