// ----------------------- //
// Footer style ---------- //
// ----------------------- //

/* Contact form block ------*/
.contactForm{
	background-size:cover;
	background-image:url('../img/bg-blur.jpg');
	@include rhythm(4, 4, 6, 0);
}
.contactForm__text, .contactForm__form{
	color: white;
}
.contactForm__offer{
	@include adjust-font-size-to(14px);
    a {
        color: $color_white;
    }
}
.cFormHeading{
	font-weight:900;
	text-shadow: 1px 1px 2px black;
	color:white;
	@include adjust-font-size-to(42px);
	@include rhythm(0, 0, 0, 1);
}
.cFormCaption{
	@include adjust-font-size-to(20px);
	text-shadow: 1px 1px 2px black;
	color:white;
}
.contactForm__control {
	@include rhythm(0, 0, 0, 1);
}
.contactForm__control label{
    width:100%;
    text-align:left;
    @include rhythm(0, 0.5, 0, 0);
}
.contactForm__control_horiz label{
	width: 25%;
    display: block;
    float: left;
    text-align: right;
    margin-right: 3%;
    margin-left:0;
    @include rhythm(0, 2, 0, 0);
    @media (max-width: 960px) {
    	float:none;
    	width:100%;
    	text-align:left;
    	@include rhythm(0, 0.5, 0, 0);
    	margin-right: 0;
    	margin-left: 1em;
    }   
    @media (max-width: 680px) {
    	margin-left:0;
    	margin-right:0;
    }
}
.contactForm__checkbox{
	width:100% !important;
}
.contactForm__checkbox label{
	width:69% !important;
	text-align:left !important;
	@media (max-width: 960px) {
		width:100%
	}
}
.contactForm__checkbox.contactForm__control_horiz{
	margin-left:29%;
	width:69%;
	@media (max-width: 960px) {
		margin-left:0;
		width:100%;
	}
	
}
.contactForm__checkbox input{
	margin-right:0.5em !important;
	width: auto !important;
}

.contactForm__formWrap{
	max-width:660px;
	margin:0 auto;
}
.contactForm__control input, .contactForm__control textarea, .contactForm__control select{
	padding:0.5em 1em;
	border: 1px solid #cccccc;
    border-radius: 4px;
    width:100%;
    color:black;
    margin:0.25em 0;
}
.contactForm__control_horiz input, .contactForm__control_horiz textarea{
 	width:70%;
    margin:0.25em;
    @media (max-width: 960px) {
    	width:100%;
    }
    @media (max-width: 680px) {
    	margin-left:0;
    	margin-right:0;
    }
}

.contactForm__control_horiz textarea {
	margin-top: -1.25em;
}
.contactForm__button{
	display:inline-block;
	@include adjust-font-size-to(20px);
	text-transform: uppercase;
	border:none;
	@include trailing-border(3px, 0.5);
	@include rhythm(2, 1.5, 1, 3);
	padding-left:1.5em;
	padding-right:1.5em;
	background:white;
	color:black;
	border-color:$red;
	background: linear-gradient(to top, $red 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
	font-weight:600;
	@media (max-width: 960px) {
		margin-right: 0 !important;
	}
	@media (max-width: 680px) {
		width:100%  !important;
	}
}
.contactForm__button_gray{
	background: linear-gradient(to top, $red 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_gray.contactForm__button_dept1{
	background: linear-gradient(to top, $dept1 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_dept1{
	border-color:$dept1;
}
.contactForm__button_dept2{
	border-color:$dept2;
}
.contactForm__button_gray.contactForm__button_dept2{
	background: linear-gradient(to top, $dept2 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_right{
	margin-right: 5%;
    float: right;
}
.contactForm__button:hover{
	color:white;
	background-position:right bottom;
}
.contactForm__control button{
    margin-left: 30%;
}
.contactForm__text{
	@include span(4);
	@media (max-width: 960px) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
.contactForm__form{
	@include span(8 last);
	@include rhythm(2, 0, 0, 0);
	@media (max-width: 960px) {
		@include span(6 last);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}

/* Contact block ------*/
.footer__decorator{
	background:url("../img/footerDecorator.png");
	background-size:contain;
	width:100%;
	height:36px;
	margin-top: -30px;
}
.footer__decorator.footer_contacts{
	margin-top: -26px;
}
.footer{
	@include rhythm(0, 4, 5, 0);
	background:$footer;
	color:white;
	text-align:center;
}
.footer_contacts{
	opacity:0.9999999;
}
.footer a{
	color:white;
}
.footer__socLinkImage{
	height:3em;
	width:3em;
}
.footer__socLinks li{
	display:inline;
	margin:0 0.5em;
}
.footer__upperNav{
	@include rhythm(1, 0, 0, 3);
}
.footer__upperNav li{
	display:inline;
	margin:0 0.5em;
	@include adjust-font-size-to(20px);
	font-weight:600;	
}
.upperNav_dept1:hover{
	color:$dept1;
}
.upperNav_dept2:hover{
	color:$dept2;
}
.upperNav_dept3:hover{
	color:$dept3;
}
.footer__lowerNav li{
	display:inline;
	margin:0 0.5em;
	@include adjust-font-size-to(20px);
	font-weight:300;
	text-transform:uppercase;
	@media (max-width: 680px) {
		display:block;
		@include rhythm(0, 0, 0, 1);
	}

}
.lowerNav__separator{
	@media (max-width: 680px) {
		display:none !important;
	}
}

.footer__lowerNav{
	@include rhythm(0, 0, 0, 2);
}

.footer__contacts li{
	display:inline-block;
	margin:0 0.5em;
}
.footer__contacts-left{
	text-align:right;
}
.footer__contacts-right{
	text-align:left;
}
