// ----------------------- //
// Header style ---------- //
// ----------------------- //


/* Logo main ------*/
.header__logo {
	@include rhythm(2, 0, 0, 2);
	float:left;
}
.header__logo img {
	width:auto;
	height:54px;
	@media (max-width: 799px) {
		height:36px;
	}
}
.header__navMain{
	float:right;
	@include rhythm(5, 0, 0, 0);
	
	@media (max-width: 799px) {
		position: fixed;
		z-index:101;
		height:100%;
		background: black;
		@include rhythm(0, 1.5, 0, 0);
		top:0;
		right:-300px;
	}
	
}

/* Contacts ------*/
.header__contacts {
	display:none;
	float:right;
	background:$red;
	@include rhythm(0, 3, 2, 0);
	padding-left:1.5em;
	padding-right:1em;
	margin-left:2em;
	@media (min-width: 1080px) {
		display:block;
	}
}
.contacts__info{
	float:left;
}
.contacts__info p{
	text-align:right;
}
.contacts__info p a{
	color:white;
}
.contacts__info p a:hover{
	color:rgba(0,0,0,0.75)
}
.contacts__phone {
	@include adjust-font-size-to(20px);
}
.contacts__image {
	float:right;
	margin-left:1em;
}
.contacts__image img {
	width:auto;
	@include rhythm(0, 0, 0, 0);
	height:3em;
}

/* Navigation ------*/
.header__navMain{
	float:right;
	@include rhythm(5, 0, 0, 0);
	
	@media (max-width: 799px) {
		position: fixed;
		z-index:101;
		height:100%;
		background: black;
		@include rhythm(0, 1.5, 0, 0);
		top:0;
		right:-300px;
	}
	
}

/* Wincorp line ------*/
.wincorp-topline {
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    background-color: #dcdcdc;
    border-bottom: 1px solid #9f9f9f;
    z-index: 10000;
    text-align: center;
    line-height: 19px;
    letter-spacing: 0px;
}
.wincorp-topline ul {
    padding: 0 !important;
}
.wincorp-topline ul li {
    display: inline-block;
    padding: 2px 6px;
}
.wincorp-topline ul li a {
    color: #505050;
    text-decoration: none;
}

/* Message ------*/
.c-header__message {
    float: left;
    color: $color_white;
    text-align: left;
    max-width: 300px;
	@include rhythm(0, 3, 2, 0);
	padding-left:1.5em;
	padding-right:1em;
	margin-left:2em;    
}

/* Navigation ------*/
.c-header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	background: rgba(0,0,0,0.75); 
}

/* Welcome ------*/
.c-welcome {
    height: 925px;
    position: relative;
    z-index: -1;
}
.c-welcome__thumbnail {
    display: none;
}
.c-welcome__container {
    @include rhythm-borders(4px, 0);
    border-color: $color_white;
    border-style: dashed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 600px;
    max-height: 200px;
}
.c-welcome__text {
    background-color: $color_white;
	@include rhythm(0, 3, 3, 0);
	padding-left: 1.5em;
	padding-right: 1em;    
    max-width: 500px;
    text-transform: uppercase;
    font-weight: bold;
    span {
        color: $color_red;
    }
    position: absolute;
    left: 0;
    bottom: 0;
}
.c-welcome__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
}
.c-welcome {
    &.is-small {
        height: 425px;
        .c-welcome__container {
            border: none;
            height: 100px;
            width: 400px;
            padding-top: 200px;
        }
        .c-welcome__icon {
            display: none;
        }    
        .c-welcome__text {
            max-width: none;
            background: transparent;
            span {
                @include rhythm-borders(4px, 0);
                border-color: $color_black;
                border-style: dashed;
                @include adjust-font-size-to(18px);
                color: $color_white;
                background-color: $color_purple;
                text-transform: none;
                font-weight: normal;
                padding: 0.25em;
                width: 100%;
                display: block;
                text-align: center;
            }
            h2 {
                color: $color_white;
                text-transform: none;
                margin-top: .1em;
            }
        }
    }
}