// ----------------------- //
// Pages style ----------- //
// ----------------------- //

.mfp-hide {
    display: none!important;
}
/* Button Up ------*/
#scrollup {
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: none;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  background: $color_black;
  @include border-radius(50%, 50%);
  opacity: 1;
  z-index: 999;
  .fa {
    font-size: 35px;
    font-weight: 100;
    color: $color_white;
  }
}

/* About block ------*/
.aboutQuote{
	font-weight:300;
	text-align:center;
	margin:0 auto;
    @include trailing-border(1px, 0.5);
    @include leading-border(1px, 0.5);
    @include rhythm(8,6,6,8);
    max-width:$md;
    @media (max-width: 680px) {
    	@include rhythm(6,4,4,3);
    }
}
.aboutQuote__text{
	width:90%;
	margin:0 auto;
	@media (max-width: 680px) {
		@include adjust-font-size-to(24px);
	}
    text-align: left;
}
.aboutQuote__text strong{
	font-weight:400;
}

/* Products block ------*/
.l-products {
    @extend .container;
    margin-bottom: 3em;
}
.l-products__item {
    @include span(3);
    padding-left: 1em;
    padding-right: 1em;
}
.c-products__header {
    @include adjust-font-size-to(10px);
    padding: 10px;
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 5px;
        right: 5px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiMwMDAwMDAiIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');  
        background-repeat: no-repeat;     
        background-size: contain;
        z-index: -1;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;   
        left: 0px;
        top: 0px;
        @include rhythm-borders(4px, 0);
        border-color: $color_gray_dark;
        border-style: dashed;        
        z-index: -2;
    }
}
$colors_product: $color_yellow, $color_green, $color_blue, $color_purple;
@for $i from 1 through length($colors_product) {
    .l-products__item:nth-child(#{$i}) .c-products__header:after {
        background-color: nth($colors_product, $i);
    }
}
.l-products {
    &.is-same-back {
        .c-products__header {
            &:before {
                display: none;
            }
            &:after {
                background-color: $color_yellow !important;
            }
        }
        .c-products__container:hover {
            position: relative;
            .c-products__header {
                position: relative;
            }
        }        
    }
}
.c-products__container {
    @include rhythm-borders(1px, 0);
    padding: 1em;  
    border-color: $color_gray;     
}
.c-products__article {
    margin-top: 2em;
}
.c-products__title {
    @include adjust-font-size-to(10px);
    @include rhythm(0,0,1,0);
    font-weight: bold;
    a {
        color: $color_black;
        border-bottom: 1px solid rgba($color_black, 0.8);
    }
}
.c-products__container:hover {
    position: relative;
    .c-products__header {
        position: static;
    }
}
.c-slider__item {
    @include span(3);
}
/* Partners block ------*/
.c-partners__item {
    img {
        display: none;
    }
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-bottom: 2em;
    position: relative;
    @include filter(grayscale(100%));
    @include transition-property(all);
    @include transition-duration(0.3s); 
    &:hover {
       @include filter(grayscale(0)); 
    }
}
.c-partners__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.c-slider {
    padding: 0 3em;
    .flickity-prev-next-button {
        height: 80px;    
        background: transparent;
        svg {
            display: none;
        }    
        background-repeat: no-repeat;
        background-size: contain;          
        &.previous {
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzNC41cHgiIGhlaWdodD0iMTE0LjVweCIgdmlld0JveD0iMCAwIDM0LjUgMTE0LjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM0LjUgMTE0LjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMzQzNDM0I7c3Ryb2tlLXdpZHRoOjAuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iMzQuMywwLjEgMC4zLDU5LjEgMzQuMywxMTQuNCAiLz4NCjwvc3ZnPg0K');   
            background-position: left;
        }
        &.next {
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzNC41cHgiIGhlaWdodD0iMTE0LjVweCIgdmlld0JveD0iMCAwIDM0LjUgMTE0LjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM0LjUgMTE0LjU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMzQzNDM0I7c3Ryb2tlLXdpZHRoOjAuNTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9DQo8L3N0eWxlPg0KPHBvbHlsaW5lIGNsYXNzPSJzdDAiIHBvaW50cz0iMC4zLDExNC40IDM0LjMsNTUuNCAwLjMsMC4xICIvPg0KPC9zdmc+DQo=');  
            background-position: right;
        }    
    }  
}
/* About Facts block ------*/
.aboutFacts{
	background:$dark;
	text-align:center;
	@include rhythm(0, 4, 2, 0);
}
.pageHeading_aboutFacts{
	color:white;
	@include rhythm(0, 0, 0, 2);
}
.aboutFactsCol {
	@include rhythm(2, 0, 0, 0);
	min-height:12em;
}
.aboutFactsCol p{
	max-width:360px;
}
.aboutFactsCol img {
	width:auto;
	max-height:4em;
}
.aboutFactsCol{
	@include span(4);
	@media (max-width: $md) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}

.mainHeadingCaption{
	@include adjust-font-size-to(20px);
}
.mainHeadingCaption a{
	color:white;
}
.mainHeadingCaption_video{
	@include adjust-font-size-to(28px);
}
.mainHeadingCaption_video a:hover{
	text-decoration:underline;
}
.mainHeading, .mainHeadingCaption{
	color:white;
	text-shadow:1px 1px 2px black;
}
.mainHeadingCaption-noShadow{
	text-shadow:none;
}

/* Team block ------*/
.aboutTeam{
	@include rhythm(4,0,0,0);
	text-align: center;
}
.aboutTeam__header{
	@include rhythm(0,0,0,4);
}
.aboutTeam__item{
	max-width: 200px;
    margin: 0 auto;
    min-height: 20em;
    &.is-small-height {
        min-height: 13em;
    }
}
.aboutTeam__itemImage{
	background-size:contain;
	padding-top: 100%;
}
.aboutTeam__itemName{
	@include adjust-font-size-to(20px);
	@include rhythm(1,0,0,0);
    font-weight: 600;
    text-align: start;
}

.aboutTeam__itemImage:hover .aboutTeamItem__back_expert {
	opacity:0.8;
	margin-top:-100%;
	padding-top:100%;
}
.aboutTeam__itemImage:hover .aboutTeamItem__back_dept1 {
	background:url('../img/expert-dept1.png');
	background-size:cover;
}
.aboutTeam__itemImage:hover .aboutTeamItem__back_dept2 {
	background:url('../img/expert-dept2.png');
	background-size:cover;
}
.aboutTeamItem__back_dept1{
	background-color:$dept1 !important;
}
.aboutTeamItem__back_dept2{
	background-color:$dept2 !important;
}
.aboutTeamItem__back {
	width:100%;
	height:1em;
	margin-top:-1em;
}
$colors_team: $color_yellow, $color_green, $color_blue, $color_purple;
@for $i from 1 through length($colors_team) {
    .aboutTeam__itemWrap:nth-child(#{$i}n+#{$i}) .aboutTeamItem__back {
        //background-color: nth($colors_team, $i);
        background-color: $color_red;
    }
}
.aboutTeamItem__expertImage{
	max-width:100%;
	height:auto;
	display:none;
}
.aboutTeam__itemWrap{
	@include span(3);
	@media (max-width: 900px) {
		@include span(4); 
	}
	@media (max-width: 680px) {
		@include span(6); 
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}
.deptExp__aboutTeam__itemWrap{
	@include span(3);
	@media (max-width: 860px) {
		@include span(12);
	}
}
/* Popup block ------*/
.popup{
	background-color:white;
	max-width:960px;
	margin:0.5em auto;
	padding:1.5em;
	@include trailing-border(6px, 0.5);
	border-color:$red;
}
.popup_dept1 {
	border-color:$dept1;
}
.popup_dept2 {
	border-color:$dept2;
}
.popupContent{
	max-width:600px;
	@include rhythm(0,4,4,0);
	margin: 0 auto;
}
.popupContent__heading{
	@include adjust-font-size-to(32px);
	@include rhythm(0,0,0,1);
	font-weight:600;
}
.popupContent__caption{
	@include adjust-font-size-to(18px);
	@include rhythm(0,0,0,2);
	font-weight:300;
}
.popupContent__caption strong{
	font-weight:400;
}
.popupContent_success{
	display:none;
}
.popupContent_resume{
	max-width:880px;
}
.popup.zoom-anim-dialog.popup_dept2 {
   // display: none;
}

/* Map block ------*/
.c-map {
    display: inline-block;
    width: 100%;
    background-color: $color_black_light2;
    padding: 50px 0px;
    .container {
        position: relative;        
    }
    img {
        width: 100%;
        height: auto;
    }
}
.c-map__element {
    background-image: url('../img/icon-map-basic.png');
    background-size: contain;
    background-repeat: no-repeat;
//    width: 41px;
//    height: 62px;
    width: 3.4%;
    height: 9.3%;    
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    &::before {
        display: none;
    }    
    &.is-helsinki {
        left: 52%;
        top: 15%;        
    }
    &.is-moskva {
        left: 55%;
        top: 20%; 
        &::before {
            left: -30%;
        }        
    }
    &.is-omsk {
        left: 67%;
        top: 22%;  
        &::before {
            left: -9%;
        }           
    }
    &.is-tomsk {
        left: 71%;
        top: 21%; 
        &::before {
            left: -19%;
        }           
    }
    &.is-kemerovo {
        left: 72%;
        top: 22%;   
        &::before {
            left: -55%;
        }           
    }
    &.is-novosibirsk {
        left: 69%;
        top: 24%;   
        &::before {
            left: -55%;
        }           
    }
    &.is-novokuzneck {
        left: 73%;
        top: 25%;
        &::before {
            left: -80%;
        }           
    }
    &.is-barnaul {
        left: 71%;
        top: 26%;
        z-index: 9;   
        &::before {
            left: -40%;
        }           
    }    
    &.is-vladivostok {
        left: 82%;
        top: 28%;   
        &::before {
            left: -86%;
        }        
    } 
    &.is-samara {
        left: 60%;
        top: 25%;   
        &::before {
            left: -30%;
        }
    } 
    &::before {
        content: attr(data-map-city-name);
        @include rhythm-borders(1px, 0);
        border-color: $color_red;
        border-style: dashed;  
        background-color: $color_white;
        color: $color_red;
        padding: .5em;
        left: -55%;
        position: absolute;
        top: -65%;
    }
    &:hover {
        background-image: url('../img/icon-map-active.png');
        cursor: pointer;
        z-index: 999;
        &::before {
            display: block;
        }        
    }
}
.c-map__element[data-map-city-name='Хельсинки'] {
    left: 52%;
    top: 15%;     
}
/* Accevnt block ------*/
.c-accent__item {
    @include span(4);
    padding: 1em;
}
.c-accent__content {
    @include rhythm-borders(4px, 0);
    border-color: $color_black;
    border-style: dashed;    
    padding: 0.8em;
    text-align: center;
    &.bg-purple {
        background-color: $color_purple;
    }        
}
.c-accent__text {
    color: $color_white;
}
.c-accent__title {
    @include adjust-font-size-to(18px);
    font-weight: 600;
    color: $color_white;
    line-height: 1em;
    padding-bottom: .8em;
}

/* Accent block ------*/
.deptSteps{
	@include rhythm(0,2,6,2);
	background:url('../img/bg-blur.jpg');
	background-size:cover;
}
.deptStepsItem{
	text-align:center;
	color:white;
	@include rhythm(4,0,0,4);
}
.deptStepsItem__circle{
	width:90px;
	height:90px;
	margin:0 auto;
	border-radius:50%;
	@include rhythm(0,0,0,2);
}

.deptStepsItem__circle_dept1{
	background:$dept1;
}
.deptStepsItem__circle_dept1 p{
	color:$dept1-gray !important;
}
.deptStepsItem__circle_dept2{
	background:$dept2;
}
.deptStepsItem__circle p{
	text-align:center;
	color:white;	
	@include adjust-font-size-to(60px);
	line-height:90px;
	font-weight:900;
}
.deptStepsItem__circle_small{
	width:60px;
	height:60px;
}
.deptStepsItem__circle_small p{
	@include adjust-font-size-to(42px);
	line-height:60px;
}
.deptStepsItem__caption{
	@include adjust-font-size-to(20px);
}
.deptStepsItem{
	@include span(4);
	@media (max-width: 680px) {
		@include span(12); 
	}
}

/* DeptExp block ------*/
.deptExp{
	@include rhythm(0,0,0,4);
}
.deptExp__heading{
	@include rhythm(2,0,0,4);
}
.deptExp__message{
	@include rhythm(0,2,2,0);
	padding-left:1.25em;
	padding-right:1.25em;
}
.deptExp__message_nopad{
	padding:0;
}
.deptExp__message_dept1{ 
	border:2px dashed $dept1;
}
.deptExp__message_dept2{ 
	border:2px dashed $dept2;
    &.is-blue {
        border-color: $color_blue;
    }
    &.is-yellow {
        border-color: $color_yellow;
        @include adjust-font-size-to(20px);
    }    
}

.deptExp__aboutTeam__itemWrap{
	padding-right:1.5em;
}
.deptExp__aboutTeam__itemWrap .aboutTeam__item {
	min-height:0;
	@media (max-width: 860px) {
		margin:0;
		@include rhythm(0,0,0,2);
	}
}
.deptExp__resumeText h3{
	@include rhythm(2,0,0,0);
    a {
        color: $color_red;
    }
}
.aboutTeam__itemCaption {
    text-align: start;
    a {
        color: $color_red;
    }    
}
.deptExp__aboutTeam__itemWrap{
	@include span(3);
	@media (max-width: 860px) {
		@include span(12);
	}
}
.deptExp__messageWrap{
	@include span(9);
	@media (max-width: 860px) {
		@include span(12); 
	}
}

/* DeptReq block ------*/
.deptReq{
	@include rhythm(0,2,5,0);
	background:$dark;
	background-size:cover;
}
.dept2ReqItem__wrap, .dept1ReqItem__wrap, .dept1ReqItemFaf__wrap{
	@include rhythm(4,0,0,2);
	padding-left:1em;
	padding-right:1em;
}
.deptReqItem{
	margin:0 auto;
	@include rhythm(0,1,1,0);
	max-width:220px;
	min-height:10em;
	border:4px dashed white;	
	display:flex;
	display:-webkit-flex;
	align-items:center;
	cursor:pointer;
	padding-left:0.5em;
	padding-right:0.5em;
}
.deptReqItem p{
	width:100%;
}
.bEventIconsFaf__sep{
	width:90%;
	margin: 0 auto;
	@include trailing-border(1px, 0.5);
	border-color:$dept1;
	clear:both;
	@include rhythm(0,0,0,2);
}
.deptReqItem_dept2:hover{
	border-color:$dept2;
}
.deptReqItem_dept2.deptReqItem_on{
	background:$dept2;
	border-color:$dept2;
}
.deptReqItem_dept1:hover{
	border-color:$dept1;
}
.deptReq {
    &.is-purple {
        .deptReqItem_dept1:hover{
            border-color: $color_purple;
        }
    }
    &.is-blue {
        .deptReqItem_dept2:hover{
            border-color: $color_blue;
        }
    }    
}
.deptReqItem_dept1.deptReqItem_on p{
	color:$dept1-gray;
}
.deptReqItem_dept1.deptReqItem_on{
	background:$dept1;
	border-color:$dept1;
}

.deptReqItem p{
	color:white;
	text-align:center;
	@include adjust-font-size-to(18px);
}

#deptReqButton{
	display:none;
}
.dept1ReqItem__wrap{
	@include span(3);
	@media (max-width: 860px) {
		@include span(6);
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}
.dept2ReqItem__wrap{
	@include span(1 of 5);
    &.is-six {
        @include span(1 of 6);
    }    
	@media (max-width: 960px) {
		@include span(4);
	}
	@media (max-width: 700px) {
		@include span(6);
	}
	@media (max-width: 460px) {
		@include span(12); 
	}
}
/* Results block ------*/
.c-results {
    padding: 50px 0px;    
}
.c-results__title {
	@include rhythm(0, 1, 0, 0);
}
.c-results__subheader {
    @include adjust-font-size-to(18px);
}
.c-results__block {
    @include rhythm-borders(4px, 0);
    border-color: $color_red;
    border-style: dashed;  
    padding: 1em;  
    margin-top: 2em;
}
.c-results__table {
    width: 100%;
    border-collapse: collapse;
}
.c-results__header {
    @include trailing-border(1px, 0);
    border-color: $color_red;
    border-style: dashed;  
    text-align: left;
}
.c-results__body {
    
}
.c-results__row {
    .c-results__col:first-child {
        @include rhythm-borders(1px, 0);
        border-color: $color_red;
        border-style: dashed;    
        border-left: none;
        border-top: none;
        border-bottom: none;
    } 
}
.c-results__body {
    .c-results__row {
        &:hover {
            background-color: $color_gray_light;
        }        
    }
}
.c-results__col { 
    display: table-cell;
    padding: .25em .5em;
    padding-bottom: 0.3em;
    padding-top: 0.5em;    
    &.is-text-right {
        text-align: right;
    }    
}
.c-results__block {
    &.is-border-yellow {
        border-color: $color_yellow;
        .c-results__header {
            border-color: $color_yellow;
        }
        .c-results__row {
            .c-results__col:first-child {    
                border-color: $color_yellow;
            } 
        }        
    }
    &.is-border-purple {
        border-color: $color_purple;
        .c-results__header {
            border-color: $color_purple;
        }
        .c-results__row {
            .c-results__col:first-child {    
                border-color: $color_purple;
            } 
        }        
    }
}
.c-results__img {
    width: 100%;
    margin: 0 auto;
}
/* Results block ------*/
.dept1Info{
	text-align:center;
	@include rhythm(1,0,0,5);
}
.dept1InfoItem{
	max-width:300px;
	margin:0 auto;
}
.dept1Info__heading{
	@include adjust-font-size-to(26px);
	font-weight:600;
	margin-top: -80px;
}
.dept1Info__heading_after{
	margin-top: 0px;
    opacity:0;
    font-size:0;
}
.dept1Info__caption{
	@include adjust-font-size-to(20px);
	opacity:0;
}
.dept1Info__caption_after, .dept1InfoImage_after{
	opacity:1 !important;
}
.dept1InfoImage{
	max-width:100%;
	height:auto;
}
.dept1InfoImage__anim{
	width:100%;
	background-size: 30% 30%;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('../img/dept1Info.png');
}
.dept1InfoImage__anim_after{
	background-size: 100% 100%;
}
.dept1InfoImage_hidden{
	opacity:0;	
}
.dept1InfoItemWrap{
	@include span(4);
	@media (max-width: 820px) {
		@include span(12);
	}
}
.c-howto__item img {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}
/* List arrow block ------*/
.c-list-arrow {
    list-style: none;
    padding-left: none;
    margin-bottom: 2em;
}
.c-list-arrow__item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 1em;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNmZmNjMDAiIHBvaW50cz0iMCw0MCAxMDAsMCA2MCwxMDAgNTAsNTAgIi8+DQo8L3N2Zz4NCg==');         
        background-repeat: no-repeat;
        background-size: contain;                    
    }
}
.c-list-links {
    list-style: none;
    padding-left: none;
    margin-bottom: 2em;
}
.c-list-links__item {
    list-style: none;

}
.c-list-links__link {
    @include adjust-font-size-to(20px);
    border-bottom: 2px solid rgba($color_black, 0.8);
    color: $color_black;
}
/* DeptResults block ------*/
.dept2Results{
	background:$dark;
	@include rhythm(2,2,6,0);
	color:white;
	text-align:center;
}
.bAbout__item {
    margin-top: 1em;
	@include span(4); 
	@media (max-width: 680px) {
		@include span(12 last); 
		@include rhythm(0, 0, 0, 2);
	}
    text-align: left;
}
.bAbout__item p {
    font-weight: 300;
}
.bAboutItem__heading{
	color:white;
	@include adjust-font-size-to(23px);
	font-weight:600;
}
.img-responsive {
    width: 100%;
    height: auto;
}
/* AboutPartners block ------*/
.aboutPartners{
	@include rhythm(2, 0, 0, 0);
}
.aboutParnets__header{
	@include rhythm(0, 0, 0, 4);
}
.aboutPartners__separator{
	clear:both;
	@include rhythm(0, 0, 0, 4);
}
.aboutPartners__logo img{
	width:100%;
	height:auto;
	padding-right: 1.5em;
	max-width:320px;
}
.aboutPartners__logo {
	@include span(5);
	@media (max-width: 800px) {
		@include span(6);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
.aboutPartners__info{
	@include span(7 last);
	@media (max-width: 800px) {
		@include span(6 last);
	}
	@media (max-width: 680px) {
		@include span(12); 
	}
}
/* bEventContacts block ------*/
.bEventContactsHeading {
	@include rhythm(0,0,0,4);
}

.bEventContactsItem{
	max-width:500px;
	margin:0 auto;
	display:table;
	color:white;
	@include rhythm(0,0,0,4);
}
.bEventContacts__image{
	display:table-cell;
	float:left;
	margin-right:1em;
}
.bEventContacts__image img{
	max-width: 150px;
	height:auto;
	//border-radius: 100%;
}
.bEventContacts__text{
	display:table-cell;
	vertical-align:middle;
}
.bEventContacts__heading{
	@include adjust-font-size-to(20px);
	font-weight:600;	
}
.bEventContacts__text a{
	color:white;
	@include trailing-border(1px, 0.5);
	border-style:dashed;
}
.bEventContacts__text a:hover{
	border-style:solid;
}
.bEventContacts__itemWrap{
	@include span(6);
	@media (max-width: 760px) {
		@include span(12);
	}
}
/* List dots CSS */
.list-dots{
	list-style-type: initial;
    margin-left: 1.2em;
}
/* Magnific Popup CSS */

.mfp-bg {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button.mfp-close,
button.mfp-arrow {
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  filter: alpha(opacity=65);opacity: 1;filter: alpha(opacity=100);}

.mfp-close-btn-in .mfp-close {
  color: #cf0000; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {

  filter: alpha(opacity=65);

 }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before,
  .mfp-arrow:after,
  .mfp-arrow .mfp-b,
  .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after,
  .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before,
  .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }


  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

/* Main image in popup */
img.mfp-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  }


@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.15s ease-in-out; 
  -moz-transition: all 0.15s ease-in-out; 
  -o-transition: all 0.15s ease-in-out; 
  transition: all 0.15s ease-in-out; 



  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out; 
  -moz-transition: opacity 0.2s ease-out; 
  -o-transition: opacity 0.2s ease-out; 
  transition: opacity 0.2s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}