// PAGE-SPECIFIC STYLES
// Home page
// ==================
.depts {
	text-align: center;
	@include rhythm(2, 0, 0, 0);
}
.deptRow{
	@include rhythm(0, 4, 0, 0);
}
.dept__item img{
	width:auto;
	max-height:12em;
	@include rhythm(0, 0, 0, 2);
	@media (max-width: 1019px) {
		max-height:10em;
	}
}
.dept__heading{
	@media (max-width: 1019px) {
		@include adjust-font-size-to(20px);
	}
}

.bAbout {
	@include rhythm(4, 4, 6, 2);
	background:rgb(30,30,30);
	color:white;
	text-align:center;
}
.bAbout__mapImage{
	max-width: 100%;
    width: auto;
    max-height: 20em;
    @media (max-width: 620px) {
    	max-height: 10em;
    }
}
.bAbout__tagImage{
	position: absolute;
    width: auto;
    height: 3em;
    @media (max-width: 620px) {
    	height:2em;
    }
    transform: translateY(-100%);
    opacity:0;
}
.bAbout__tagImage.in-view{
    -webkit-animation: slide 0.25s forwards;
    animation: slide 0.25s forwards;
}

@-webkit-keyframes slide {
    100% { transform: translateY(0%); opacity: 1;}
}

@keyframes slide {
    100% { transform: translateY(0%); opacity: 1;}
}

#tag1 {
	margin-top:25px;
	margin-left:20px;
	@media (max-width: 620px) {
    	margin-top:5px;
		margin-left:5px;
    }
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#tag2 {
	margin-top:70px;
	margin-left:130px;
	@media (max-width: 620px) {
    	margin-top:30px;
		margin-left:60px;
    }
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
}
#tag3 {
	margin-top:60px;
	margin-left:280px;
	@media (max-width: 620px) {
    	margin-top:25px;
		margin-left:140px;
    }
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#tag4 {
	margin-top:70px;
	margin-left:300px;
	@media (max-width: 620px) {
    	margin-top:35px;
		margin-left:150px;
    }
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}
#tag5 {
	margin-top:50px;
	margin-left:400px;
	@media (max-width: 620px) {
    	margin-top:25px;
		margin-left:200px;
    }
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
#tag6 {
	margin-top:90px;
	margin-left:430px;
	@media (max-width: 620px) {
    	margin-top:45px;
		margin-left:200px;
    }
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75;
}
#tag7 {
	margin-top:210px;
	margin-left:480px;
	@media (max-width: 620px) {
    	margin-top:100px;
		margin-left:240px;
    }
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.bAboutRow{
	margin:0 auto;
	@include rhythm(4, 0, 0, 0);
	@media (max-width: 680px) {
		max-width:440px;
	}
}
.bAboutItem__heading{
	color:white;
	@include adjust-font-size-to(18px);
	font-weight:600;
}
.bAbout__item img{
	width:100%;
	height:auto;
}

.events__header{
	@include rhythm(0, 0, 0, 4);
}
.events {
	@include rhythm(0, 0, 0, 2);
}
.event{
	background-size:cover;
	@include rhythm(0, 4, 4, 0);
	border-color:white;
	background-position-y: 0;
}
.event:hover{
	background-position-y: -60px;
	@media (max-width: 860px) {
		background-position-y: 0;
	}
}
.eventInfo {
	max-width:640px;
	color:black;
}
.eventInfo__dept{
	display:inline;
	@include rhythm(0, 0.5, 0.5, 0);
	padding-left:.5em;
	padding-right:.5em;
	border:2px dashed black;
	font-weight:600;
}
.eventInfo__dept img{
	width:auto;
	height:1em;
	margin-right:0.5em;
}
.eventInfo_dept1{
	background:$dept1;
}
.eventInfo_dept2{
	background:$dept2;
}

.eventInfo__main{
	@include rhythm(2, 2, 3, 2);
	padding-left:2em;
	padding-right:2em;
	@media (max-width: 680px) {
		padding-left:1em;
		padding-right:1em;
	}
}
.eventInfo__meta{
	@include adjust-font-size-to(18px);
	@include rhythm(0, 0, 0, 1);
}
.eventInfo__more{
	display: inline-block;
	@include adjust-font-size-to(20px);
	text-transform: uppercase;
	@include trailing-border(3px, 0.5);
	@include rhythm(0, 1.5, 1, 0);
	padding-left:1.5em;
	padding-right:1.5em;
	color:black;
	font-weight:600;
	@media (max-width: 680px) {
		padding-left:1em;
		padding-right:1em;
	}
	
}
.eventInfo__more:hover{
	color:white;
	background-position:right bottom;
}
.eventMore_dept1{
	border-color:$dept1;
	background: linear-gradient(to top, $dept1 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.eventMore_dept2{
	border-color:$dept2;
	background: linear-gradient(to top, $dept2 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.eventSeparator{
	height:2px;
	width:100%;
	background-color:white;
}
.knowMoreItem__wrap{
	margin:0 auto;
	max-width: 380px;
	@include rhythm(0, 1, 1, 0);
	padding-left:0.5em;
	padding-right:0.5em;
	border: 2px dashed transparent;
}
.knowMoreItem__wrap:hover{
	border-color: $red;
}
.knowMoreItem__image{
	width:auto;
	max-height:3em;
	float:left;
	@include rhythm(2/3, 0, 0, 2);
	margin-right:1em;
}
.knowMoreItem__heading a, .knowMoreItem__heading a:hover{
	color:black;
}
.contactForm{
	background-size:cover;
	background-image:url('../img/blur.jpg');
	@include rhythm(4, 4, 6, 0);
}
.contactForm__text, .contactForm__form{
	color: white;
}
.contactForm__offer{
	@include adjust-font-size-to(14px);
}
.cFormHeading{
	font-weight:900;
	text-shadow: 1px 1px 2px black;
	color:white;
	@include adjust-font-size-to(42px);
	@include rhythm(0, 0, 0, 1);
}
.cFormCaption{
	@include adjust-font-size-to(20px);
	text-shadow: 1px 1px 2px black;
	color:white;
}
.contactForm__control {
	@include rhythm(0, 0, 0, 1);
}
.contactForm__control label{
    width:100%;
    text-align:left;
    @include rhythm(0, 0.5, 0, 0);
}
.contactForm__control_horiz label{
	width: 25%;
    display: block;
    float: left;
    text-align: right;
    margin-right: 3%;
    margin-left:0;
    @include rhythm(0, 2, 0, 0);
    @media (max-width: 960px) {
    	float:none;
    	width:100%;
    	text-align:left;
    	@include rhythm(0, 0.5, 0, 0);
    	margin-right: 0;
    	margin-left: 1em;
    }   
    @media (max-width: 680px) {
    	margin-left:0;
    	margin-right:0;
    }
}
.contactForm__checkbox{
	width:100% !important;
}
.contactForm__checkbox label{
	width:69% !important;
	text-align:left !important;
	@media (max-width: 960px) {
		width:100%
	}
}
.contactForm__checkbox.contactForm__control_horiz{
	margin-left:29%;
	width:69%;
	@media (max-width: 960px) {
		margin-left:0;
		width:100%;
	}
	
}
.contactForm__checkbox input{
	margin-right:0.5em !important;
	width: auto !important;
}

.contactForm__formWrap{
	max-width:660px;
	margin:0 auto;
}
.contactForm__control input, .contactForm__control textarea, .contactForm__control select{
	padding:0.5em 1em;
	border: 1px solid #cccccc;
    border-radius: 4px;
    width:100%;
    color:black;
    margin:0.25em 0;
}
.contactForm__control_horiz input, .contactForm__control_horiz textarea{
 	width:70%;
    margin:0.25em;
    @media (max-width: 960px) {
    	width:100%;
    }
    @media (max-width: 680px) {
    	margin-left:0;
    	margin-right:0;
    }
}

.contactForm__control_horiz textarea {
	margin-top: -1.25em;
}
.contactForm__button{
	display:inline-block;
	@include adjust-font-size-to(20px);
	text-transform: uppercase;
	border:none;
	@include trailing-border(3px, 0.5);
	@include rhythm(2, 1.5, 1, 3);
	padding-left:1.5em;
	padding-right:1.5em;
	background:white;
	color:black;
	border-color:$red;
	background: linear-gradient(to top, $red 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
	font-weight:600;
	@media (max-width: 960px) {
		margin-right: 0 !important;
	}
	@media (max-width: 680px) {
		width:100%  !important;
	}
}
.contactForm__button_gray{
	background: linear-gradient(to top, $red 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_gray.contactForm__button_dept1{
	background: linear-gradient(to top, $dept1 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_dept1{
	border-color:$dept1;
}
.contactForm__button_dept2{
	border-color:$dept2;
}
.contactForm__button_gray.contactForm__button_dept2{
	background: linear-gradient(to top, $dept2 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contactForm__button_right{
	margin-right: 5%;
    float: right;
}
.contactForm__button:hover{
	color:white;
	background-position:right bottom;
}
.contactForm__control button{
    margin-left: 30%;
}

// CONTACTS
.fistScreen_contacts{
	margin-bottom: -26px;
	align-items:flex-end;
	align-items:-webkit-flex-end;
}
.contactInfo__wrap{
	position: absolute;
    top:7em;
    margin: 0 auto;
    left:30px;
    margin-left:1em;
    margin-right:1em;
}
.contacts__mapWrap{
	width:100%;
}
#map iframe{
	@media (max-width: 880px) {
		opacity:0;
		pointer-events:none;
	}
}
#map{
	@media (max-width: 880px) {
		background-image:url(../img/bg-contact.jpg);
		background-size:cover;
		width:100%;
	}
}
.contactInfo{
	background:rgba(0,0,0,0.75);
	color:white;
	border-radius: 3px;
	@include rhythm(0, 3, 2, 0);
	padding-right:1em;
	padding-left:1em;
	width:432px;
	@media (max-width: 480px) {
		width:280px;
	}
	@include adjust-font-size-to(18px);
}
.contactInfo__logo{
	width:auto;
	max-height:5em;
	max-width:20em;
}
.contactInfo__link{
	color:white;
}
p.contactInfo__link {
	@include rhythm(2, 0, 0, 0);
}
.contactInfo__list li{
	display:table;
	@include rhythm(0, 0, 0, 0.5);
}
.contactInfo__list li img {
	display:table-cell;
	float:left;
	height:1.5em;
	width:auto;
	margin-right:0.75em;
}
.contactInfo__list li span{
	display:table-cell;
	vertical-align: top;
}
.contactInfo_marDown{
	margin-bottom:0.75em !important;
}

.contact__button {
	display:inline-block;
	text-transform: uppercase;
	border:none;
	@include trailing-border(3px, 0.5);
	@include rhythm(2, 1.5, 1, 1);
	padding-left:1.5em;
	padding-right:1.5em;
	background:#eee;
	color:black;
	border-color:$red;
	background: linear-gradient(to top, $red 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
	font-weight:600;
}
.contact__button_gray{
	background: linear-gradient(to top, $red 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contact__button_invert_dept1{
	background: linear-gradient(to top, black 50%, $dept1 50%);
	background-size: 100% 200%;
    background-position:left top;
    border-color:black;
}
.contact__button_invert{
	background: linear-gradient(to top, black 50%, $red 50%);
	background-size: 100% 200%;
    background-position:left top;
    border-color:black;
    color:white;
}
.contact__button_big{
	@include adjust-font-size-to(20px);
}
.contact__button:hover{
	color:white;
	background-position:right bottom;
}
.contact__button_dept1:hover{
	color:$dept1-gray !important;
}
.contact__button_dept1{
	border-color:$dept1;
	background: linear-gradient(to top, $dept1 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contact__button_gray.contact__button_dept1{
	background: linear-gradient(to top, $dept1 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contact__button_dept2{
	border-color:$dept2;
	background: linear-gradient(to top, $dept2 50%, white 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contact__button_gray.contact__button_dept2{
	background: linear-gradient(to top, $dept2 50%, $gray 50%);
	background-size: 100% 200%;
    background-position:left top;
}
.contact__button_dept1:hover, .contact__button_dept2:hover,{
	background-position:right bottom;
}
.contactForm__loading{
	color:transparent !important;
	background:url('../img/loading.gif') !important;
	background-size:cover !important;
}

// About
.aboutTopHeading{
	@include adjust-font-size-to(100px);
	@media (max-width: 800px) {
		@include adjust-font-size-to(60px);
	}
	@media (max-width: 300px) {
		@include adjust-font-size-to(32px);
	}
}
.aboutTopHeadingCaption{
	@include adjust-font-size-to(26px);
	@media (max-width: 600px) {
		@include adjust-font-size-to(20px);
	}
}
.aboutTopHeading, .aboutTopHeadingCaption{
	color:white;
	text-shadow:1px 1px 2px black;
}
.aboutTop__logo{
	max-width:600px;
	-webkit-filter:drop-shadow(1px 1px 2px black);
	@media (max-width: 800px) {
		max-width:400px;
	}
}

.aboutQuote{
	font-weight:300;
	text-align:center;
	margin:0 auto;
    @include trailing-border(1px, 0.5);
    @include leading-border(1px, 0.5);
    @include rhythm(8,6,6,8);
    max-width:$md;
    @media (max-width: 680px) {
    	@include rhythm(6,4,4,3);
    }
}
.aboutQuote__text{
	width:90%;
	margin:0 auto;
	@media (max-width: 680px) {
		@include adjust-font-size-to(24px);
	}
}
.aboutQuote__text strong{
	font-weight:400;
}
.aboutDepts{
	@include rhythm(4, 0, 0, 4);
	@media (max-width: 680px) {
		@include rhythm(0, 0, 0, 4);
	}
}
.aboutDepts__itemWrap{
	padding-left:0.75em;
	padding-right:0.75em;
}
.aboutDepts__item{
	height:20em;
    background-size:cover;
    padding:1em;
    display:flex;
    display:-webkit-flex;
    align-items:center;
    @media (max-width: 960px) {
		height:16em;
	}
}
.aboutDepts__item{
	@media (max-width: 680px) {
		height:12em;
		@include rhythm(4, 0, 0, 0);
	}
}
.aboutDepts__item_dept0{
	@media (max-width: 960px) {
		height:12em;
		@include rhythm(4, 0, 0, 0);
	}
}
.aboutDepts__item_dept1{
	background-image:url('../img/about-Dept1.jpg');
}
.aboutDepts__item_dept2{
	background-image:url('../img/about-Dept2.jpg');
}
.aboutDepts__item_dept0{
	background-image:url('../img/about-Dept0.jpg');
}
.aboutDepts__info {
	width:100%;
    text-align: center;
}
.aboutDepts__dept:hover{
	-webkit-filter: brightness(1.2);
}
.aboutDepts__dept{
	@include adjust-font-size-to(26px);
	color:black;
	font-weight:600;
	display:inline;
	@include rhythm(0, 0.5, 0.5, 0);
	padding-left:.5em;
	padding-right:.5em;
	border:4px dashed black;
	@media (max-width: 960px) {
		@include adjust-font-size-to(22px);
	}
	@media (max-width: 680px) {
		@include adjust-font-size-to(20px);
	}
	
}
.aboutDepts__dept img{
	width:auto;
	height: 1.8em;
    padding-top: 0.8em;
	margin-right:0.5em;
}
.aboutDepts_dept1{
	background:$dept1;
}
.aboutDepts_dept2{
	background:$dept2;
}

.aboutDepts__text{
	color:white;
	text-shadow:1px 1px 2px black;
	@include adjust-font-size-to(22px);
	@include rhythm(0, 2, 0, 0);
	font-weight:600;
	@media (max-width: 960px) {
		@include adjust-font-size-to(17px);
	}
}

.aboutFacts{
	background:$dark;
	text-align:center;
	@include rhythm(0, 4, 2, 0);
}
.pageHeading_aboutFacts{
	color:white;
	@include rhythm(0, 0, 0, 2);
}
.aboutFactsCol {
	@include rhythm(2, 0, 0, 0);
	min-height:12em;
}
.aboutFactsCol p{
	max-width:360px;
}
.aboutFactsCol img {
	width:auto;
	max-height:4em;
}

.aboutPartners{
	@include rhythm(2, 0, 0, 0);
}
.aboutParnets__header{
	@include rhythm(0, 0, 0, 4);
}
.aboutPartners__separator{
	clear:both;
	@include rhythm(0, 0, 0, 4);
}
.aboutPartners__logo img{
	width:100%;
	height:auto;
	padding-right: 1.5em;
	max-width:320px;
}

.aboutTeam{
	@include rhythm(4,0,0,0);
	text-align:center;
}
.aboutTeam__header{
	@include rhythm(0,0,0,4);
}
.aboutTeam__item{
	max-width:200px;
    margin: 0 auto;
    min-height:20em;
}
.aboutTeam__itemImage{
	background-size:contain;
	padding-top: 100%;
}
.aboutTeam__itemName{
	@include adjust-font-size-to(24px);
	@include rhythm(1,0,0,0);
}

.aboutTeam__itemImage:hover .aboutTeamItem__back_expert {
	opacity:0.8;
	margin-top:-100%;
	padding-top:100%;
}
.aboutTeam__itemImage:hover .aboutTeamItem__back_dept1 {
	background:url('../img/expert-dept1.png');
	background-size:cover;
}
.aboutTeam__itemImage:hover .aboutTeamItem__back_dept2 {
	background:url('../img/expert-dept2.png');
	background-size:cover;
}
.aboutTeamItem__back_dept1{
	background-color:$dept1 !important;
}
.aboutTeamItem__back_dept2{
	background-color:$dept2 !important;
}
.aboutTeamItem__back {
	background:$red;
	width:100%;
	height:1em;
	margin-top:-1em;
}
.aboutTeamItem__expertImage{
	max-width:100%;
	height:auto;
	display:none;
}

.deptInclude{
	@include rhythm(2,0,0,4);
}
.deptIncludeItem__wrap{
	@include rhythm(4,0,0,0);
}
.deptIncludeItem {
	margin:0 auto;
	@include rhythm(0,2,2,0);
	max-width:220px;
	min-height:10em;
	padding-left:1.5em;
	padding-right:1.5em;
	display:flex;
	display:-webkit-flex;
	align-items:center;
}
.deptIncludeItem__content{
	text-align:center;
}
.deptIncludeItem_dept1 {
	background:$dept1;
}
.deptIncludeItem_dept1 .deptIncludeItem__content p{
	color:$dept1-gray;
}
.deptIncludeItem_accent{
	border: 4px dashed $dept1-gray;
}
.deptIncludeItem_accent:hover{
	background:$dept1-accent;
}
.deptIncludeItem_dept2 {
	background:$dept2;
}
.deptIncludeItem__caption{
	@include adjust-font-size-to(20px);
	font-weight:600;
	color:white;
}

.deptInclude__hr{
	height:1em;
	width:100%;
	border-style:solid;
	border-color:black;
	border-width:0px 1px 1px 1px;
	clear:both;
	@include rhythm(0,0,0,2);
}
.deptInclude__bottomHeading{
	@include adjust-font-size-to(36px);
	text-align: center;
	font-weight:600;
}
.deptInclude__bottomHeadingCaption{
	@include adjust-font-size-to(22px);
	text-align: center;
}

.deptIncludeItem__extraInfo{
    width: 100%;
    background: $dept2;
    color:white;
    padding:1em;
    margin-top: 1em;
    margin-bottom: -1em;
    display:none;
}
.deptIncludeItem__extraInfo p{
	@include adjust-font-size-to(20px);
	text-align:center;
}

.deptSteps{
	@include rhythm(0,2,6,2);
	background:url('../img/blur.jpg');
	background-size:cover;
}
.deptStepsItem{
	text-align:center;
	color:white;
	@include rhythm(4,0,0,4);
}
.deptStepsItem__circle{
	width:90px;
	height:90px;
	margin:0 auto;
	border-radius:50%;
	@include rhythm(0,0,0,2);
}

.deptStepsItem__circle_dept1{
	background:$dept1;
}
.deptStepsItem__circle_dept1 p{
	color:$dept1-gray !important;
}
.deptStepsItem__circle_dept2{
	background:$dept2;
}
.deptStepsItem__circle p{
	text-align:center;
	color:white;	
	@include adjust-font-size-to(60px);
	line-height:90px;
	font-weight:900;
}
.deptStepsItem__circle_small{
	width:60px;
	height:60px;
}
.deptStepsItem__circle_small p{
	@include adjust-font-size-to(42px);
	line-height:60px;
}
.deptStepsItem__caption{
	@include adjust-font-size-to(20px);
}

.deptReq{
	@include rhythm(0,2,5,0);
	background:$dark;
	background-size:cover;
}
.dept2ReqItem__wrap, .dept1ReqItem__wrap, .dept1ReqItemFaf__wrap{
	@include rhythm(4,0,0,2);
	padding-left:1em;
	padding-right:1em;
}
.deptReqItem{
	margin:0 auto;
	@include rhythm(0,1,1,0);
	max-width:220px;
	min-height:10em;
	border:4px dashed white;	
	display:flex;
	display:-webkit-flex;
	align-items:center;
	cursor:pointer;
	padding-left:0.5em;
	padding-right:0.5em;
}
.deptReqItem p{
	width:100%;
}
.bEventIconsFaf__sep{
	width:90%;
	margin: 0 auto;
	@include trailing-border(1px, 0.5);
	border-color:$dept1;
	clear:both;
	@include rhythm(0,0,0,2);
}
.deptReqItem_dept2:hover{
	border-color:$dept2;
}
.deptReqItem_dept2.deptReqItem_on{
	background:$dept2;
	border-color:$dept2;
}
.deptReqItem_dept1:hover{
	border-color:$dept1;
}
.deptReqItem_dept1.deptReqItem_on p{
	color:$dept1-gray;
}
.deptReqItem_dept1.deptReqItem_on{
	background:$dept1;
	border-color:$dept1;
}

.deptReqItem p{
	color:white;
	text-align:center;
	@include adjust-font-size-to(18px);
}

#deptReqButton{
	display:none;
}

.acWho{
	@include rhythm(0,3,3,4);
}
.acWho__heading{
	@include rhythm(0,0,3,0);
}
.acWhoItem {
	text-align:center;
}
.acWhoItemWrap{
	@include rhythm(0,0,0,4);
}
.acWhoItem__image{
	max-width:5em;
}
.acWhoItem__heading{
	@include adjust-font-size-to(20px);
	font-weight:600;
}
.acWhoItem{
	max-width:16em;
	margin:0 auto;
}
.deptExp{
	@include rhythm(0,0,0,4);
}
.deptExp__heading{
	@include rhythm(2,0,0,4);
}
.deptExp__message{
	@include rhythm(0,2,2,0);
	padding-left:1.25em;
	padding-right:1.25em;
}
.deptExp__message_nopad{
	padding:0;
}
.deptExp__message_dept1{ 
	border:2px dashed $dept1;
}
.deptExp__message_dept2{ 
	border:2px dashed $dept2;
}

.deptExp__aboutTeam__itemWrap{
	padding-right:1.5em;
}
.deptExp__aboutTeam__itemWrap .aboutTeam__item {
	min-height:0;
	@media (max-width: 860px) {
		margin:0;
		@include rhythm(0,0,0,2);
	}
}
.deptExp__resumeText h3{
	@include rhythm(2,0,0,0);
}

.list-dots{
	list-style-type: initial;
    margin-left: 1.2em;
}
.list-md li{
	max-width:600px;
}
.list-img{
	@include rhythm(1, 0, 0, 0);
}
.list-img li{
	@include adjust-font-size-to(18px);
	display:table;
	@include rhythm(0, 0, 0, 0.5);
}
.list-img li i {
	display:table-cell;
	float:left;
	width:auto;
	margin-right:0.75em;
	line-height: 1.5em;
}
.list-img li span{
	display:table-cell;
	vertical-align: top;
}

.dept2Price__heading{
	@include rhythm(2,0,0,0);
}
.dept2Price{
	max-width:500px;
	margin:0 auto;
	@include rhythm(0,0,0,2);
	padding-left:1.5em;
	padding-right:1.5em;
	@media (max-width: 520px) {
		max-width:240px;
		text-align:center;
	}
}
.dept2Price__image {
	float:left;
	max-width:200px;
	margin-right:1.5em;
	@media (max-width: 520px) {
		float:none;
	}
}
.dept2Price__image img{
	max-width:100%;
	height:auto;
	@include rhythm(-5,0,0,0);
	@media (max-width: 520px) {
		margin-top:0;

	}
}

.dept2Price__price{
	@include adjust-font-size-to(42px);
	font-weight:900;
	color:black;
	@include rhythm(2,0,0,0);
	@media (max-width: 420px) {
		margin-top:0;
	}
}
.dept2Price__wrap{
	margin:0 auto;
}

.dept2Results{
	background:$dark;
	@include rhythm(2,2,6,0);
	color:white;
	text-align:center;
}

.deptTimer__heading{
	color:white;
	padding-left:1em;
	@media (max-width: 540px) {
		text-align:center;
	}
}
.deptTimerWrap{
	max-width:80px;
	margin:0 auto;
	text-align:center;
}
.deptTimer__data{
	margin:0 auto;
	border-radius:1em;
	background:white;
	@include rhythm(2,2,2,1);
	padding-left:0.5em;
	padding-right:0.5em;
}
.deptTimer__data p{
	@include adjust-font-size-to(42px);
	font-weight:900;
	color:black;
	@media (max-width: 380px) {
		@include adjust-font-size-to(36px);
	}
}
.deptTimer__caption{
	color:white;
}
.deptTimerItem_dummy{
	@media (max-width: 540px) {
		display:none;
	}
}

.dept1Info{
	text-align:center;
	@include rhythm(1,0,0,5);
}
.dept1InfoItem{
	max-width:300px;
	margin:0 auto;
}
.dept1Info__heading{
	@include adjust-font-size-to(26px);
	font-weight:600;
	margin-top: -80px;
}
.dept1Info__heading_after{
	margin-top: 0px;
    opacity:0;
    font-size:0;
}
.dept1Info__caption{
	@include adjust-font-size-to(20px);
	opacity:0;
}
.dept1Info__caption_after, .dept1InfoImage_after{
	opacity:1 !important;
}
.dept1InfoImage{
	max-width:100%;
	height:auto;
}
.dept1InfoImage__anim{
	width:100%;
	background-size: 30% 30%;
	background-repeat:no-repeat;
	background-position:center center;
	background-image:url('../img/dept1Info.png');
}
.dept1InfoImage__anim_after{
	background-size: 100% 100%;
}
.dept1InfoImage_hidden{
	opacity:0;	
}

.dept1Price__heading{
	@include rhythm(2,0,0,2);
}
.dept1PriceItem{
	max-width:320px;
	margin:0 auto;
	background:$dept1-50;
	@include rhythm(2,2,2,2);
	padding-left:1.5em;
	padding-right:1.5em;
	text-align:center;
	color:black;
}
.dept1PriceItem__price{
	@include adjust-font-size-to(36px);
	font-weight:900;
}
.dept1PriceItem__priceSmall{
	font-size:60%;
}
.dept1PriceItem__priceSmaller{
	font-size:50%;
}
.dept1PriceItem__captionWrap{
	min-height:6.5em;
	@media (max-width: 540px) {
		min-height:0;
	}
}

.dept1PriceItem__priceWrap{
	min-height:6em;
	@media (max-width: 540px) {
		min-height:0;
	}
}
.dept1PriceItem__caption{
	@include adjust-font-size-to(22px);
}


///

.bEventInfo{
	@include rhythm(2,4,4,6);
}
.bEventInfo__bigDigit{
	@include adjust-font-size-to(80px);
	font-weight:900;
	color:black;
	@media (max-width: 740px) {
		@include adjust-font-size-to(60px);
	}
}
.bEventInfo__caption{
	@include adjust-font-size-to(24px);
	@media (max-width: 740px) {
		@include adjust-font-size-to(20px);
	}
}
.bEventInfoLeft{
	text-align:center;
}
.bEventInfoRight{
	@media (max-width: 600px) {
		text-align:center;
	}
}
.bEventInfoCenter__content{
	max-width:380px;
	margin:0 auto;
	@media (max-width: 600px) {
		@include rhythm(4,0,0,4);
	}
}
.bEventInfo__title{
	@include adjust-font-size-to(36px);
	font-weight:600;
	color:black;
	line-height:1.5em;
	@media (max-width: 740px) {
		@include adjust-font-size-to(26px);
		line-height:1.5em;
	}

}
.bEventInfo__title span{
	background-color:$dept1;
}
.bEventPhoto{
	background-size:cover;
	background-position:center center;
	min-height:300px;
	@media (max-width: 1140px) {
		min-height:200px;
	}
	@media (max-width: 800px) {
		min-height:160px;
	}
}

.bEventSpeakers{
	@include rhythm(4,0,0,8);
}
.bEventSpeakers__heading{
	@include rhythm(0,0,0,4);
}
.bEventSpeaker__item {
	max-width:240px;
}
.bEventSpeaker__itemLeft{
	display:none;
	@media (max-width: 540px) {
		display:block;
	}
}
.bEventSpeaker__itemRight{
	@media (max-width: 540px) {
		display:none;
	}
}
.bEventSpeaker__item img{
	width:100%;
	height:auto;
	border-bottom:1em solid $dept1;
	padding-bottom:-1em;
}
.bEventSpeaker__message{
	background:$gray;
	@include rhythm(0,2,1,1);
	padding-left:1.5em;
	padding-right:1.5em;
	color:black;
}
.bEventSpeaker__messageIntro{
	@include adjust-font-size-to(22px);
	font-weight:300;
	@include rhythm(0,0,0,2);
}
.bEventSpeaker__itemSep{
	clear:both;
	@include rhythm(0,0,0,4);
}
.bEventSpeaker__messageIntro span{
	background:$dept1;
	font-weight:400;
}

.bEventFacts{
	@include rhythm(4,0,0,8);
}
.bEventFacts__itemWrap{
	@include rhythm(0,0,0,4);
}
.bEventFacts__item{
	max-width:320px;
	margin:0 auto;
	text-align:center;
}
.bEventFacts__item img{
	width:100%;
	max-width:200px;
	height:auto;
}
.bEventFacts__heading{
	text-align:center;
}

.bEventInfoList{
	background:$dark;
	color:white;
	@include rhythm(0,4,4,4);
}
.bEventInfoListHeading{
	color:white;
	text-align:left;
}
.bEventInfoList__right{
	@include rhythm(0,6,0,0);
	text-align:center;
}
.bEventInfoList__right img{
	width: 390px;
    height: auto;
    @media (max-width: 880px) {
    	width: 280px;
    }
    @media (max-width: 760px) {
    	width: 390px;
    }
    @media (max-width: 460px) {
    	width: 280px;
    }
}
.bEventInfoList__image{
	z-index:10;
}
.bEventInfoList__image_after{
	position: absolute;
	transform: scale(0.88, 0.74);
    transform-origin: left bottom;
}
.bEventInfoList__image_after.in-view{
    -webkit-animation: grow .5s ease-in forwards;
    animation: grow .5s ease-in forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;	
}

.bEventMore{
	@include rhythm(0,0,0,8);
}
.bEventMoreHeading{
	text-align:center;
}
.bEventMoreHeading{
	@include rhythm(0,0,0,4);
}

.bEventMoreItem{
	max-width:440px;
	margin:0 auto;
	min-height:10em;
	display:flex;
	display:-webkit-flex;
	align-items:center;
	border: 4px dashed $dept1;
	@include rhythm(0,2,2,0);
	padding-left:1.5em;
	padding-right:1.5em;
	text-align:center;
	@media (max-width: 760px) {
		@include rhythm(0,2,2,4);
	}
}
.bEventMoreItem_last{
	max-width:600px;
	@include rhythm(0,2,2,4);
}
.bEventMoreItem__heading_price{
	font-weight:900;
	@include adjust-font-size-to(40px);
}
span.discount{
	text-decoration: line-through;
	color:$red;
}
span.discount span{
	color:black;
}
.bEventMoreItem__content{
	width:100%;
}
.bEventMoreItem__content p{
	@include adjust-font-size-to(18px);
}

.bEventPartners{
	@include rhythm(0,0,0,4);
}
.bEventPartner__item_dummy{
	@media (max-width: 760px) {
		display:none;
	}
}
.bEventPartner__item{
	width:100%;
	max-width:200px;
	margin: 0 auto;
}
.bEventPartner__item img{
	max-width:100%;
	height:auto;
	margin: 0 auto;
	-webkit-filter: grayscale(1);
}
.bEventPartner__item img:hover{
	-webkit-filter: grayscale(0);
}
.bEventPartners__heading{
	@include rhythm(0,0,0,4);
}
.bEventPartnerList{
	text-align:center;
}
.bEventPartnerList div{
	display:inline-block;
	margin-right:1em;
	padding:1.5em;
	@media (max-width: 480px) {
		max-width:120px;
	}
}

.bEventContactsHeading {
	@include rhythm(0,0,0,4);
}

.bEventContactsItem{
	max-width:400px;
	margin:0 auto;
	display:table;
	color:white;
	@include rhythm(0,0,0,4);
}
.bEventContacts__image{
	display:table-cell;
	float:left;
	margin-right:1em;
}
.bEventContacts__image img{
	max-width:100px;
	height:auto;
	border-radius: 100%;
}
.bEventContacts__text{
	display:table-cell;
	vertical-align:middle;
}
.bEventContacts__heading{
	@include adjust-font-size-to(20px);
	font-weight:600;	
}
.bEventContacts__text a{
	color:white;
	@include trailing-border(1px, 0.5);
	border-style:dashed;
}
.bEventContacts__text a:hover{
	border-style:solid;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bEventMiniForm__heading{
	@include rhythm(0,0,0,4);
}

.bEventIcons{
	@include rhythm(0,0,0,8);
}
.bEventIcons__heading{
	@include rhythm(2,0,0,4);
}
.bEventIconsItem{
	display:table;
	max-width:380px;
	margin:0 auto;
	@include rhythm(2,0,0,4);
}
.bEventIconsItem div{
	display:table-cell;
	vertical-align: middle;
}
.bEventIcons__icon img {
	max-width:4em;
	margin-right:1em;
	height:auto;
}
.bEventIcons__text{
	width:100%;
	@include adjust-font-size-to(20px);
	padding-right:0.5em;
	@media (max-width: 760px) {
		@include adjust-font-size-to(16px);
	}
	@media (max-width: 600px) {
		@include adjust-font-size-to(20px);
	}
	@media (max-width: 360px) {
		@include adjust-font-size-to(16px);
	}
}

.bEventFeedback{
	@include rhythm(0,0,0,4);
}
.bEventFeedback__heading{
	@include rhythm(0,0,0,6);
}
.bEventFeedback__itemWrap{
	@include rhythm(0,0,0,6);
}
.bEventFeedbackItem{
	display:table;
}
.bEventFeedbackItem__imageWrap{
	display:table-cell;
}
.bEventFeedbackItem__image {
	margin-right:1.5em;
	background-size:cover;
	border-radius:100%;
	width: 120px;
    height: 120px;
    padding-top: 32px;
    @media (max-width: 480px) {
    	width: 90px;
    	height: 90px;
    	padding-top: 24px;
    }
}
.bEventFeedbackItem__image p{
	font-weight:900;
	color:$dept1;
	@include adjust-font-size-to(100px);
	@media (max-width: 480px) {
		@include adjust-font-size-to(80px);
	}
	text-align:right;
}
.bEventFeedbackItem__text{
	display:table-cell;
	vertical-align: top;
}
.bEventFeedbackItem__textAuthor{
	@include adjust-font-size-to(22px);
}
.bEventFeedbackItem__textCompany{
	@include adjust-font-size-to(14px);
	@include rhythm(0,0,0,2);
}

.bEventFeedbackItem__arrow{
	width: 0.3333em;
	height:auto;
}

.fafPriceItem{
	text-align:center;
	@include rhythm(4,0,0,4);
}
.fafPriceItem__heading{
	@include adjust-font-size-to(24px);
}
.fafPriceItem__price{
	@include rhythm(2,1,1,2);
	background-color:$dept1;
	padding-left:1em;
	padding-right:1em;
	display: inline-block;
}
.fafPriceItem__price p{
	@include adjust-font-size-to(48px);
	font-weight:900;
	color:black;
}

.fafSteps{
	@include rhythm(4,0,0,0);
}
.fafStepsItem{
	display:table;
}
.fafStepsItem__left{
	display:table-cell;
	vertical-align:top;
	background:url('../img/faf-steps.png');
}
.fafStepsItem__right{
	display:table-cell;
	padding-left: 1em;
}
.fafStepsItem__heading{
	color:white;
	@include adjust-font-size-to(22px);
}
.fafStepsItem__caption{
	color:white;
	margin-bottom:1.5em;
}
.fafStepsItem__left_noback{
	background:none !important;
}

.map-event{
	width: 100%; 
	height: 25em;
	@include rhythm(4,0,0,4);
}

.mc-check-popup{
	position: fixed;
    bottom: 0;
    right: -800px;
    margin: 1em;
    padding: 0.5em 1em;
    background: rgb(252,226,124);
    color:black;
    box-shadow:0px 0px 4px rgba(0,0,0,0.75);
}
.mc-check-popup:hover{
	background: $dept1;
}
.blogTags{
	@include rhythm(2,0,0,0);
}
.blogTags li{
	display:inline-block;
	@include rhythm(0,0.5,0.5,0.5);
	padding-left:0.5em;
	padding-right:0.5em;
	background:$red;
}
.blogTags__item{
	color:white;
	margin-bottom:0.375em;
}
.blogTags__item:hover{
	color:white
}

.blogTags li:hover{
	background:$lightred;
}

.blogPost{
	@include rhythm(2,0,0,2);
}
.blogPost__image{
	width:100%;
	height:auto;
}
.blogPostInfo{
	background:$red;
	color:white;
	@include rhythm(-2,2,2,0);
}
.blogPostInfo_preview{
	padding-left:1em;
	padding-right:1em;
}
.blogPostInfo__title{
	color:white;
	font-weight:900;
	@media (max-width: 539px) {
		@include adjust-font-size-to(22px);
	}
}
.blogPostInfo__desc{
	color:white;
}
.blogPostInfo__tags li{
	display:inline;
	color:white;
}
.blogPostInfo__tags li a{
	color:white;
	border-bottom:1px solid white;
}
.blogPostInfo__tags li a:hover{
	border:none;
}
.blogPostInfo_dept1{
	background:$dept1;
}
.blogPostInfo_dept2{
	background:$dept2;
}
.blogPostInfo_dept1 .blogPostInfo__title, 
.blogPostInfo_dept1 .blogPostInfo__desc,
.blogPostInfo_dept1 .blogPostInfo__tags li,
.blogPostInfo_dept1 .blogPostInfo__tags li a{
	color:black;
	
}
.blogPostInfo_dept1 .blogPostInfo__tags li a{
	border-color:black;
}
.blogPostInfo__date{
	color:white !important;
	@include rhythm(-6,2,2,0);
	text-align:right;
	opacity:0.75;
	pointer-events: none;
}
.blogPostInfo__date span{
	@include adjust-font-size-to(26px);
	font-weight:900;
}
.blogPostInfo__desc_big{
	@include adjust-font-size-to(20px);
	@include rhythm(1,0,0,1);
}

.blogPostContent {
	@include rhythm(0,0,2,0);
}

.blogPostContent p,
.blogPostContent h2,
.blogPostContent h3,
.blogPostContent h4,
.blogPostContent ul,
.blogPostContent ol,
.blogPostContent blockquote{
	max-width:$sm;
}
.blogPostContent ul{
	list-style-type: disc;
    margin-left: 2em;
    @include rhythm(0,0,0,2);
}
.blogPostContent ol{
	list-style-type: decimal;
    margin-left: 2em;
    @include rhythm(0,0,0,2);
}
.blogPostContent a{
	border-bottom:1px solid $red;
}
.blogPostContent a:hover{
	border:none;
}
.blogPostContent p{
	@include rhythm(0,0,0,2);
}
.blogPostContent img{
	width:100%;
	max-width:$sm;
	height:auto;
	@include rhythm(0,0,0,2);
}
.blogPostContent__side{
	width:100%;
	max-width:$md;
	text-align:right;
}

.b-1{
	border-top: 6px dashed $red;
	padding-left:1em;
	padding-right:1em;
    @include rhythm(4,0,0,5);
    text-align:center;
    background:$gray;
}
.b-1 p{
	@include adjust-font-size-to(24px,6);
	@include rhythm(0,2,2,0);
}


.b-2{
	padding-left:1em;
	padding-right:1em;
    @include rhythm(4,0,0,4);
}
.b-2 p{
	@include adjust-font-size-to(24px,6);
	@include rhythm(0,2,2,0);
}

blockquote.b-3::before{
	content:"";
	position: absolute;
	background-image:url('../img/home-arrow-dept0.png');
	background-size:contain;
	width:3.75em;
	height:3.75em;
	@media (max-width: 539px) {
		width:2.5em;
		height:2.5em;
	}
}
.b-3{
	
	padding-right:1em;
    @include rhythm(4,0,0,4);
}
.b-3 p{
	padding-left:4.75em;
	@media (max-width: 539px) {
		padding-left:3.5em;
	}
	@include adjust-font-size-to(18px);
	font-weight:600;
	@include rhythm(0,2,2,0);
}
.blogPostMore{
	border-top:8px dashed $dark;
	@include rhythm(0,4,0,0);
}