// VARIABLES
$lg: 1280px;
$md: 990px;
$sm: 680px;

//colors
$red: #cf0000;
$lightred: #ff3333;
$dept1: #ffcc00;
$dept1-50: rgba(255,204,0,.5);
$dept1-gray:#444;
$dept1-accent:#ff9900;
$dept2: #26a55b;
$dept3: #913d87;
$footer: #333333;
$gray: #ddd;
$dark:#1e1e1e;