// ----------------------- //
// Variables ------------- //
// ----------------------- //

/* Base -----------*/
$url_images: "../img";
$url_fonts: "../fonts";
.is-hidden {
    display: none !important;
}
/* Colors ---------*/
$color_white: #ffffff;
$color_black: #000000;
$color_black_light: #111111;
$color_black_light2: #1e1e1e;
$color_purple: #913d88;
$color_red: #cf0000;
$color_yellow: #ffcc00;
$color_green: #26a65b;
$color_blue: #4183d7;
$color_gray: #cecece;
$color_gray_dark: #444444;
$color_gray_dark0: #333333;
$color_gray_light: #E8E8E8;
.bg-purple {
    background-color: $color_purple !important;
}
.bg-blue {
    background-color: $color_blue !important;
}
.bg-yellow {
    background-color: $color_yellow !important;
}
.bg-green {
    background-color: $color_green !important;
}
.color-white {
    color: $color_white !important;
}
/* Fonts ----------*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,900,900i&subset=cyrillic');
$font_family_base: 'Source Sans Pro', Arial sans-serif;
/*font awesome settings*/
$fa-font-path: "#{$url_fonts}";
/* Indents --------*/
$padding_base: 24px;
/* Typography -----*/
$font_size_base: 16px;
$line_height_base: 24px;
$font_size_h1: $font_size_base * 2.5; //40pt
$line_height_h1: $line_height_base * 2; //48pt
$font_size_h2: $font_size_base * 2.1875; //35pt
$line_height_h2: $line_height_base * 1.75; //42pt
$font_size_h3: $font_size_base * 1.875; //30pt
$line_height_h3: $line_height_base * 1.5; //36pt
$font_size_h4: $font_size_base * 1.375; //22pt
$line_height_h4: $line_height_base * 1.25; //30pt
/* Buttons --------*/
$btn_height: 48px;
$btn_border_radius: 24px;
$btn_padding: 24px;
$btn_font_size: 16px;
$btn_height_small: 24px;
$btn_border_radius_small: 12px;
$btn_padding_small: 18px;
$btn_font_size_small: 14px;
/* Forms ----------*/
/* Breadcrumbs ----*/
/* Modals ---------*/
/* Breakpoints ----*/
$screen_lg: 1400px;
$screen_lg_min: 1200px;
$screen_md_max: ($screen_lg_min - 1); 
$screen_md_min: 992px;
$screen_sm_max: ($screen_md_min - 1);
$screen_sm_min: 768px;
$screen_xs_max: ($screen_sm_min - 1);
$screen_xs_min: 480px;    
$screen_xs_small_max: ($screen_xs_min - 1); 
$screen_xs_small_min: 320px;  

/* Variables old ----*/
$lg: 1280px;
$md: 990px;
$sm: 680px;

//colors
$red: #cf0000;
$lightred: #ff3333;
$dept1: #ffcc00;
$dept1-50: rgba(255,204,0,.5);
$dept1-gray:#444;
$dept1-accent:#ff9900;
$dept2: #26a55b;
$dept3: #913d87;
$footer: #333333;
$gray: #ddd;
$dark:#1e1e1e;

